[2018-01-07 06:35] jackhumbert opened #2 "Localisation"
Setup a localisation system for strings

[2018-01-13 07:40] dudeofawesome opened #3 "Keymap presentation is broken for very tall keyboards"
![image](https://user-images.githubusercontent.com/1683595/34904021-be4abc76-f7f1-11e7-90b9-d4f0261e3bf9.png)

It looks like it is assumed that a keymap will be no taller than the layer picker.

[2018-03-21 14:33] mechmerlin opened #4 "Keymap is broken for long keyboards TKL and over"
It ends up being shifted too far down.

http://config.qmk.fm/#/k_type/KEYMAP

[2018-03-21 14:36] mechmerlin opened #5 "Upload keymaps for editing"
Currently, a user has to start from scratch every time the configurator is used.

It would be good if a user were allowed to upload an existing keymap for editing either as something they were working on before, or a default keymap provided by QMK as a good starting point. On 60%s it's not an issue, but on TKLs, the click and drag approach even for edits becomes tiresome.

[2018-03-26 20:04] skullydazed opened #6 "Populate the interface from an existing keymap"
Needs https://github.com/qmk/qmk_api/issues/11 to be completed first.

[2018-03-26 20:05] skullydazed opened #7 "Should be able to type in keycodes"

[2018-03-26 20:06] skullydazed opened #8 "Add the ability to move a group of keys between different keyboards"

[2018-03-26 20:06] skullydazed opened #9 "Flash ARM boards from page"

[2018-03-26 20:07] skullydazed opened #10 "Interface for previewing info.json code"

[2018-03-26 20:08] skullydazed opened #11 "Interface for retrieving KLE raw code for a particular keyboard/keymap"
Needs https://github.com/qmk/qmk_firmware/issues/2621 and https://github.com/qmk/qmk_api/issues/12 to be completed first

[2018-03-27 16:54] jetpacktuxedo opened #12 "Would be nice to have a way to save and iterate on layouts"
There is a "download source" button which is maybe intended for this but currently seems to do nothing. Download source + 5 or maybe 6 could do what I'm suggesting, maybe.

[2018-03-30 03:03] mdnt opened #18 "tkc1800 layout"
The layout is broken in the configurator.

https://config.qmk.fm/#/tkc1800/KEYMAP

[2018-03-30 03:08] skullydazed commented on #18
No one has created an info.json for this board yet. Instructions for doing so are here: https://docs.qmk.fm/hardware_keyboard_guidelines.html#keyboard-metadata

@mdnt if this is something you feel comfortable with doing you can add the required file to qmk_firmware and submit a PR. Otherwise we'll leave this open until someone has time to pick this up.

[2018-03-30 03:29] mdnt commented on #18
Ill give it a try. Thanks for the instructions

[2018-03-30 03:53] mdnt commented on #18
@skullydazed stupid question. But how can I check to make sure my layout is correct before submitting a PR.

[2018-03-30 17:25] mechmerlin opened #24 "console output gets crowded/messy when switching between different keyboards"
The current workaround is to do a page refresh.

Some suggestions
1. Include a button to clear the console output
2. Auto clear whenever a new board is selected
3. Improve error messages. Rather than "No default for this keyboard", specify which keyboard.

[2018-03-30 20:42] #18 closed

[2018-03-31 05:04] #24 closed

[2018-04-01 03:32] mechmerlin opened #30 "Viewing of readme should be available"
Some keyboards have caveats such as "led support not currently available" which are documented in the readme.

When using the configurator, a customer does not see this information and may incorrectly think that the configurator is at fault.

Provide a means to display the readme file to the user.

[2018-04-01 03:54] FrostByte-Dev opened #32 "Empty keymaps are not removed when compiling."
This is an issue as if a user randomly clicks on layers they are not using it creates an empty layer which is not removed on compile time and increases how long it takes.

[2018-04-01 04:15] yanfali opened #33 "Reset 'active' layer to 0 on loading default"
If you are in the layer UI, and click load default, the active layer stays on the layer you last clicked on. It should reset to 0.

reproduce:

1. select planck keyboard
2. click layer (10)
3. load default

Symption:

layer 10 is still active but you are actually looking at layer 0.

[2018-04-01 04:35] yanfali commented on #33
Also introduces extra layers empty layers which will cause problems for backend

[2018-04-02 02:27] mechmerlin opened #36 "Confirmation dialogue needed when loading default keymap"
**load default**
This button provides no confirmation dialogue. When a user has crafted a suitable keymap, accidentally pressing the button wipes away their hard work.

When any form of keymap is present, load default should provide a yes/no confirmation dialogue to prevent such mishaps.

**import layout**
The same can be said with this button, but a user needs to specify a file to load, so the ch

[2018-04-02 21:04] mechmerlin opened #37 "Two Click Keymapping"
This request comes from notG10, one of the moderators of the Top Clack Discord.

Click and dragging can be quite strenuous. It would be great to be able to select an empty/filled spot on the keyboard representation, and then click on a keycode you want.

To be clear, this is not to get rid of the click and drag feature, but rather as another form of keycode entry.

[2018-04-03 03:15] mechmerlin opened #38 "Sat+ appears twice in RGB Lighting key selection"
![bug](https://user-images.githubusercontent.com/30334081/38227321-7a75eb2e-36b2-11e8-881c-cb657a60557a.png)

[2018-04-03 03:38] #38 closed

[2018-04-05 20:17] yanfali commented on #33
we can close this I think @jackhumbert

[2018-04-05 20:17] jackhumbert commented on #33
Awesome - thanks :)

[2018-04-05 20:17] #33 closed

[2018-04-06 16:33] yanfali commented on #37
should be done. @mechmerlin can you confirm?

[2018-04-06 16:34] yanfali opened #43 "Render ISO enter keys correctly in keymap"
Because they aren't rectangles, they don't render quite right.

![screen shot 2018-04-06 at 09 34 08](https://user-images.githubusercontent.com/2275667/38432845-acec2c3a-397d-11e8-8b44-6a6eeb88969f.png)

Figure out a way to add the extra bit.

[2018-04-06 18:41] skullydazed commented on #5
This was added in #13.

[2018-04-06 18:41] #5 closed

[2018-04-06 20:21] yanfali opened #44 "Add dirty keymap detection"
- centralize all access to keymap[] via some sort of API
- add hooks to detect changes
- use keymap state to decide to show alerts when switching keymaps, layouts, keyboards, importing instead of just prompting

[2018-04-06 20:25] yanfali commented on #12
@FrostByte-Dev added the ability to export the JSON, does this work for you? In the future I think we're looking at github gist support ala kle.

[2018-04-06 20:26] yanfali commented on #30
Is there a way to auto public README.md in the API? Then we could try and render it in the UI as a popup

[2018-04-06 20:27] yanfali commented on #10
I assume this is for testing local info.json before doing a PR?

[2018-04-07 00:38] mechmerlin commented on #37
Yes this work! Closing.

[2018-04-07 00:38] #37 closed

[2018-04-07 05:21] yanfali opened #45 "import stops working when switching keyboard"
steps

1. import a keyboard from json - loads json
2. switch keyboard - loads new keyboard
3. import keyboard from json - doesn't do anything

[2018-04-07 17:31] yanfali opened #47 "limit the size of the layout dropdown"
https://config.qmk.fm/#/clueboard/60/LAYOUT_60_ansi_split_bs_rshift causes it to push all the UI elements off to the next row. Limit the size of the layout drop down in CSS.

[2018-04-09 17:05] #44 closed, assigned to nobody

[2018-04-09 17:06] #36 closed

[2018-04-09 17:18] yanfali commented on #4
fixed by this 5a7d098e16e33d697f28a5ad94d75e159540bdf5

[2018-04-09 17:18] yanfali commented on #30
resolved by API adding a readme end point and this commit 49c338272a7c2c7fd6173371730ed67b78bfc768

[2018-04-09 22:01] mechmerlin opened #52 "Provide means to download .bin file"
On keyboards such as the whitefox, flashing is done by doing
[code]

The QMK Configurator currently has no means to download the required .bin file.

[2018-04-09 22:03] yanfali commented on #52
Ditto for clueboard 60.

[2018-04-12 16:13] mechmerlin commented on #7
This is not a reference to the "Any" key form of inputting keycodes.

A user should be able to click on a key in the layout and hit a key on their keyboard to set it. This is very similar to bootmapper client's way.

[2018-04-14 03:51] jackhumbert opened #53 "Container keycodes don't accept child keycodes"
Such as `LSFT` and friends.

[2018-04-14 04:28] yanfali commented on #7
@skullydazed @mechmerlin can you check out the latest version of configurator? We've added keypress support. Select keymap item first then push the key you want to assign. It should work on chrome and firefox.

[2018-04-14 04:29] yanfali opened #55 "add keycode assignment by doubleclick"
double click a keymap item, pop up an input dialog and allow input of a 'KC_' code with validation and possibly autocomplete.

[2018-04-14 04:35] yanfali opened #56 "click to deselect a selected keymap key"

[2018-04-14 19:51] yanfali opened #57 "have status window scroll down when new messages appear."

[2018-04-19 04:22] iopred opened #60 "Unchangeable shortcuts: Control+Backspace deletes a word. Alt+Backspace undo."
I'm compiling the ORG60 firmware and the control+backspace shortcut is very frustrating.

[2018-04-19 04:42] mechmerlin commented on #60
Can you provide more details on how you are using the Ctrl and Backspace shortcut.

[2018-04-19 04:45] iopred commented on #60
My config just has Right/Left Ctrl and Backspace set like normal. But when I use Ctrl+Backspace it deletes a full word.

My full config can be found here: https://pastebin.com/M5LfU7wm

[2018-04-19 05:57] skullydazed commented on #60
Hi @iopred. If I understand the situation correctly I don't think this is anything QMK is doing. When you press Ctrl-Backspace in Windows the default action is to delete a whole word. If you have another keyboard you can verify this behavior by typing Ctrl-Backspace on that keyboard and see that the same thing happens.

If I've misunderstood the situation and you do have a problem with how your ke

[2018-04-19 05:57] #60 closed

[2018-04-19 14:41] mechmerlin opened #61 "Consider changing naming of Download/Import Layout"
The opposite of Download is Upload
The opposite of Import is Export.

I would suggest using Download/Upload as those terms are more familiar to non native English speakers.

We're also not exactly downloading/uploading a layout, but rather a keymap.

[2018-04-19 14:42] mechmerlin commented on #61
Btw, I'd like to tackle this bug if no one has objections =P

[2018-04-19 14:50] mechmerlin opened #62 "Semantics: QMK Configurator != Firmware"
![qmkconfig](https://user-images.githubusercontent.com/30334081/38999213-26fefc14-43a6-11e8-9cde-90068a87fb3b.png)

For those new to the keyboard flashing world, the image seems to imply that QMK Configurator is the firmware when it is not.

Perhaps it should say, "A GUI for QMK open source keyboard firmware" or something of the sort.

[2018-04-19 16:19] mechmerlin opened #64 "Exporting nameless Keymaps"
Exporting a keymap without a name names it as json.txt. However this file still works when you Import it back in.

When a nameless keymap is detected, we should default to the default "mine" name, and still create a mine.json.

[2018-04-19 16:23] mechmerlin opened #65 "Compiling a blank keymap is not useful"
There does not seem to be any use to compiling a blank keymap, as the resulting .hex still wouldn't get me anywhere in terms of keyboard usability.

We could use the dirty keymap checks to temporarily gray out the compile button until the keymap does  indeed have at least one keycode.

[2018-04-19 16:31] yanfali commented on #65
We could also warn the user that the keymap is blank and let them proceed anyway. I can see one use for this mode. If you wanted to make a MCU that controlled an RGB strip on and had no inputs.

[2018-04-19 17:06] mechmerlin commented on #61
Done! Fixed via #63

[2018-04-19 17:06] #61 closed

[2018-04-20 00:11] mechmerlin opened #66 "Numpad in Keycode Selection is Missing 3"
![qmk config numpad](https://user-images.githubusercontent.com/30334081/39024259-8c28d67a-43f4-11e8-84ce-2607b5183271.png)

It's missing 3!!!

Thank you to isabella on the r/mk discord for reporting.

[2018-04-20 00:14] yanfali commented on #66
haha, it was actually correct before from the code perspective, but it's always said 4. 4 is unlucky in asian countries.

[code]

[2018-04-20 18:08] mechmerlin opened #68 "Provide a link to keycode reference on the page"
Most people aren't familiar with QMK keycodes and sometimes the hovering over the key is completely missed, or just still not clear enough.

We should provide a link to the keycode reference on the page.

[2018-04-23 22:54] colemarkham opened #69 "Render the README instead of showing source"
Currently the source is shown for the keyboard README. Many users will not understand the formatting, and most would prefer to see the rendered version.

[2018-04-26 01:33] #53 closed

[2018-04-26 06:14] yanfali opened #71 "alert if you have unsaved changes and navigate away"
Use the dirty checking to warn user of unsaved changes. Clear the flag if they export.

[2018-04-26 08:42] dmgm opened #72 "Looks terrific, fails to compile for Input Club K-Type Keyboard"
I created a base layer only, by clicking a key, then pressing the physical key on the keyboard.
I set the fn key to me MO1. This was done on macOS with chrome as the browser.

I exported the resulting json file (which I can provide if needed).

I pressed compile. Which failed with the output. pasted below.

[2018-04-26 08:50] JackCuthbert commented on #72
Also failing with Whitefox Truefox

[2018-04-26 14:14] mechmerlin commented on #66
Can confirm.

[2018-04-26 14:14] #66 closed

[2018-04-26 19:25] skullydazed commented on #6
https://github.com/qmk/qmk_api/issues/11 has been completed.

[2018-04-26 19:40] mechmerlin opened #73 "MO(X) doesn't get exported/imported properly"
When creating a keymap with Fn key. Placing anything in MO() results in it being set to 0 when exported and imported.

[2018-04-26 20:00] yanfali commented on #73
I just tested this, and it looked ok.

[code]

[2018-04-26 20:00] yanfali commented on #73
Can you document the steps to reproduce?

[2018-04-26 20:06] yanfali opened #74 "layout isn't saved when we export a keyboard"
This can lead to keymap being imported into the wrong layout and applied to the wrong keys.
steps to reproduce:

1. create a keymap
2. export it with some changes
3. change the layout
4. reimport the json

Since we didn't record the layout used to generate the map this can lead to some odd ui issues.

[2018-04-26 20:06] yanfali commented on #74
@skullydazed @jackhumbert should we add a layout field to the JSON exporter?

[2018-04-26 20:15] mechmerlin commented on #73
1. Make a ok60 keymap (yes the layout isn't done yet).
2. Make MO(1) with an appropriately populated layer 1 to jump to.
3. Export Keymap
4. Open another tab and navigate to config.qmk.fm. Select the correct board.
5. Import said Keymap

MO(1) should now be MO(0).

[2018-04-26 20:18] yanfali commented on #74
ok, I just exported a map and the layout was in there. There's obviously some bug here I need to look into.

[2018-04-26 20:33] yanfali commented on #74
OK, we suspect this is a focus issue. The input change handler never fires because the input field still has focus so it never updates the layer. @mechmerlin will verify this and we may need to use a polling loop when we focus on the field that checks for changes and updates the field if we detect one. This may cause other problems though.

[2018-04-26 20:51] yanfali opened #75 "poll compile back end and display backend status in UI"
curl https://compile.clueboard.co/v1
{
  "children": [
    "compile",
    "converters",
    "keyboards"
  ],
  "status": "running",
  "version": "0.1\n"
}

[2018-04-27 01:12] Pawnerd opened #76 "nested two-parameter keycodes fail to compile"
For instance, when I put a LGui_T inside a Rctl_T keycode, the compiler comes back with an error. I think it should be impossible to put two-parameter keycodes inside another two-parameter keycode? Picture to illustrate below:

![afbeelding](https://user-images.githubusercontent.com/1347264/39339383-d43cc3e8-49c8-11e8-9f57-1c48fb4a57e9.png)

[2018-04-27 02:05] Pawnerd commented on #76
happy to help :)

[2018-04-27 05:53] #68 closed

[2018-04-27 16:04] FrostByte-Dev opened #80 "When importing keymap it does not set the keymap to dirty."

[2018-04-27 16:57] FrostByte-Dev opened #82 "Scaling doesn't reset when importing keymaps on Firefox."
If on a larger board that is scaled down to fit such as the converter/ibm_terminal when importing a smaller keyboard such as the dz60 it does not scale back up. Seems to only affect firefox.

[2018-04-27 17:36] FrostByte-Dev opened #83 "Change event not triggered when loading the same keymap in chrome."
keymap not reloading if the same file is loaded a second time in chrome.

[2018-04-28 00:41] #62 closed

[2018-04-29 12:43] florensie opened #86 "Support for alternate saving methods"
It'd be great if there would be other saving methods like saving as a github gist like keyboard-layout-editor does or save in the browser like [here](http://ondras.zarovi.cz/sql/demo/).

[2018-04-30 08:17] dmgm commented on #72
I looked at the configurator today and couldn't find the k-type listed.  Has it been removed?
If so, is that the solution to this issue?

[2018-04-30 15:12] mechmerlin commented on #72
ARM boards require a different compile process and also a different file to be downloaded. We removed it for now until we get that support in.

[2018-04-30 22:03] dmgm commented on #72
OK. I'll close the issue, and open a "Please add support for ARM keyboards like K-Type and Whitefox"

[2018-04-30 22:03] #72 closed

[2018-04-30 22:04] dmgm opened #87 "Support for ARM keyboards like K-Type and Whitefox"
Please add support for the Input Club keyboards, for example K-Type and Whitefox

[2018-05-01 03:33] mechmerlin opened #88 "Feature: Song Selection/Creation"
There are some keyboards with built in speakers that allow people to program songs.

It would be cool to have a tab in QMK Configurator that would allow song selection of default songs, or even a mini web app that would allow a user to create their own song through the website.

[2018-05-01 14:37] mechmerlin opened #89 "Bug: Backlight Toggle Missing"
Current QMK Configurator only offers 4 Backlight modifiers. It is missing `BL_BRTG` as described in

https://docs.qmk.fm/features/backlight

[2018-05-01 14:43] yanfali commented on #89
This may not work without the ifdef BACKLIGHT_BREATHING

[2018-05-04 00:19] mechmerlin opened #90 "gh-pages setup for noobs"
We should create documentation on how to do this, in a manner friendly to noobs, such as myself. =).

1. fork the project
2. git co gh-pages
3. rm CNAME
4. add you _config.yml
5. push to gh-pages
6. reload after about 10-15 seconds

[2018-05-04 07:37] mechmerlin opened #91 "Tooltips for Controls"
People are getting confused with the controls, especially the import/export button, thinking it is for hex files. We need to add tooltips to our controls briefly describing what they do and what they are for.

[2018-05-04 16:08] yanfali commented on #91
maybe Import JSON and Export JSON? Just like Download Hex?

[2018-05-04 16:09] mechmerlin commented on #91
I'll take this one, sounds within my skill level

[2018-05-04 16:14] yanfali commented on #91
sorry, I already did it

[2018-05-04 16:15] yanfali commented on #91
I'll hold off. You do it and add the accept bit from my branch
https://github.com/yanfali/qmk_configurator/commit/859e94e28c780bd16210f8aca342aca46cf6b88b

[2018-05-04 16:16] yanfali commented on #91
The accept attribute prevents people from loading file types that aren't JSON.

[2018-05-04 17:05] yanfali opened #92 "warn user and prevent import of kbfirmware json files"
When a JSON file from kbfirmware is loaded into configurator, detect the file (probably quantum field is a good choice), and pop up an alert that this is not compatible with configurator.

[2018-05-04 17:52] yanfali commented on #91
OK, we discussed this a bit on discord and the general consensus for now is to add the accept attribute to block hex files being loaded, and to use #92 to prevent people import JSON files that are from kbfirmware.

Longer term, QMK needs to register a mime type with IANA and then being using it consistently across the configurator/toolbox.

[2018-05-07 05:37] yanfali commented on #92
Fixed.

[2018-05-07 05:37] #92 closed

[2018-05-07 05:37] yanfali commented on #91
fixed.

[2018-05-07 05:41] #91 closed

[2018-05-07 05:47] yanfali opened #95 "disable download hex, source and toolbox buttons when switching keyboards."

[2018-05-07 22:44] karni24 opened #98 "qmk compile failing"
trying to compile layout for hexfile but it keeps failing, have tried playing with loayout numerous times to see if that was the issue and it fails everytime

[plzwork (1).txt](https://github.com/qmk/qmk_configurator/files/1981712/plzwork.1.txt)

[2018-05-07 22:45] yanfali commented on #98
thank you! We'll take a look and see what we can figure out.

[2018-05-07 22:59] yanfali commented on #98
Hi, we may have found the culprit. Follow up question. Have you ever hand edited the JSON file? Thanks

[2018-05-08 00:50] karni24 commented on #98
no, only thing ive done to the file is rename it to .txt

On Mon, May 7, 2018 at 6:59 PM, Yan-Fa Li <notifications@github.com> wrote:

[2018-05-08 02:31] yanfali commented on #98
That's good. A few codes appeared in the file that aren't expected by the
API. We haven't quite figured out how they got in there. If you want to if
them. Replace the [, ], . codes in the file with KC_LBRC, KC_RBRC and
KC_STOP. It's not clear how the symbols got into the save file, so that's
definitely a bug. After I fixed those things the file compiled. Hope that
helps.

On Mon, May 7, 2018, 17:5

[2018-05-08 04:55] yanfali commented on #98
@karni24 good news. I've figured out how to duplicate your bug. If you configure an ANY key, that lets you type in any text into a key. This is an expert mode feature, so we don't check what you type into there. This will be saved faithfully into the keymap.json and then when you import it, because of a different feature I added for keyboard input, it imported the key incorrectly and even displaye

[2018-05-08 05:22] yanfali opened #101 "Export ANY keycodes"
when an ANY keycode is encountered by the exporter it only exports the inner keycode and not the ANY notation. This can result in more difficult to debug keymap files where it's not clear where the keycode came from.

@skullydazed would like the UI to export those keycodes with the ANY notation so we know where they came from, AND to have them stripped off before sending them to the API so the bac

[2018-05-08 15:35] mechmerlin opened #103 "QMK Toolbox Installation link"
QMK Toolbox link on the Configurator would be great. Several people get lost as to what to do after making their hex file.

I've recently updated the QMK Toolbox readme to point to the latest driver releases. If we could strategically put the link somewhere on the GUI, that would help a lot of people out.

[2018-05-10 16:39] yanfali opened #104 "spaces in keymap name cause issues"
This causes issues locally and on the API. Substitute spaces. Future work, probably white list the characters that are allowed in the name.

[2018-05-11 04:17] yanfali commented on #104
fixed

[2018-05-11 04:17] #104 closed

[2018-05-11 04:17] yanfali commented on #103
What link should I use?

[2018-05-11 05:11] yanfali commented on #98
I believe this issue is now fixed. @karni24 let us know if you still have this issue, but if not please close the issue. Thanks

[2018-05-11 07:41] yanfali commented on #95
Fixed

[2018-05-11 07:41] #95 closed

[2018-05-11 07:41] yanfali commented on #75
Done

[2018-05-11 07:41] #75 closed

[2018-05-11 07:41] yanfali commented on #71
Done

[2018-05-11 07:41] #71 closed

[2018-05-11 09:55] jibreil opened #107 "Can't download hex file, instead it's a blank text file"
I'm trying to flash my GH60 and have done so multiple times in the past few days by compiling and downloading the hex from qmk_configurator.

Today when I press `Download .hex`, it tries to download `download.txt` which is a blank text file with nothing in it and with a 0 KB file size. The `.json` i was trying to use can be seen [here](https://u.teknik.io/Flsjd.json) and the result in the console

[2018-05-11 10:53] karni24 commented on #98
thank you

On Fri, May 11, 2018, 1:11 AM Yan-Fa Li <notifications@github.com> wrote:

[2018-05-11 11:13] #98 closed

[2018-05-11 15:05] yanfali commented on #107
Sorry @jibreil my bad. It should be fixed in the next PR.

[2018-05-11 18:04] yanfali commented on #82
@FrostByte-Dev this one ok now?

[2018-05-11 18:04] yanfali commented on #80
@FrostByte-Dev this one should be resolved now.

[2018-05-11 18:06] yanfali commented on #73
OK, I think this was the focus bug.

[2018-05-11 18:07] FrostByte-Dev commented on #82
Looks to be working now.

[2018-05-11 18:07] #82 closed

[2018-05-11 18:07] yanfali commented on #45
superseded by issue #83

[2018-05-11 18:07] #45 closed

[2018-05-11 18:08] #80 closed

[2018-05-11 18:08] yanfali commented on #90
Actually the better way to do this may be through installing jekyll and working locally.

[2018-05-11 18:09] yanfali commented on #76
@Pawnerd is this still an issue?

[2018-05-11 18:09] yanfali commented on #74
I don't think this is an actual bug.

[2018-05-11 18:09] #74 closed

[2018-05-11 18:10] yanfali commented on #88
@jackhumbert you want to create some labels for feature requests and what not?

[2018-05-11 21:41] Pawnerd commented on #76
@yanfali Looks like it's fixed in the version that's running on config.qmk.fm 👍

[2018-05-11 21:44] yanfali commented on #76
@Pawnerd feel free to close the issue then. Thanks again.

[2018-05-11 21:46] yanfali commented on #52
Looking at the code, this is actually built into the backend, so the front end is ready mostly for when the backend can do this. We may want to change the name of the download button based on metadata we know about the board.

[2018-05-11 22:10] #76 closed

[2018-05-12 01:36] jibreil commented on #107
Thanks @yanfali, seems to be fixed now 👍

[2018-05-12 01:36] #107 closed

[2018-05-12 05:06] yanfali commented on #101
fixed

[2018-05-12 05:06] #101 closed

[2018-05-12 17:54] fcoury opened #111 "QMK Configurator Proposal"
Hey team, so I have been working with QMK Configurator for roughly a week and I would like to propose something. But before I do, I want to say that the work done on the configurator is amazing and I really appreciate the hard work you all have done so far.

The idea I am about to describe comes from my own experience as a software developer and it's nothing more than a proposal that may or may no

[2018-05-12 23:17] skullydazed opened #112 "Jekyll setup instructions"
We should document how to use Jekyll to setup a local development environment.

[2018-05-13 04:03] yanfali commented on #112
Fixed.

[2018-05-13 04:04] yanfali commented on #90
@mechmerlin you should check out the documentation at https://github.com/qmk/qmk_configurator/blob/master/assets/js/development.md to see if this helps.

[2018-05-13 04:06] yanfali commented on #73
One way to solve this may be to force a focus change before we export/compile the keymap to trigger the event. I'm not sure how reliable this would be. The other possible way to deal with this is to actively poll the field while it is being edited.

[2018-05-13 04:06] yanfali commented on #64
This should be fixed now. Thanks

[2018-05-14 02:28] mechmerlin commented on #103
This should be fine

https://github.com/qmk/qmk_toolbox/releases

[2018-05-14 17:19] yanfali opened #114 "Feature: Preview Info.JSON files using configurator UI"
Add a feature which let's info.json maintainers load a info.json they are working on into the configurator UI to short cut the PR/Merge cycle review times and let contributors rapidly test their changes.

[2018-05-14 17:20] yanfali commented on #114
Basic idea is, to allow uploading an info.json and then load the same keyboard from API and extend one from the other.

e.g. $.extend(currentInfo.json, testInfo.json)

[2018-05-15 06:01] yanfali commented on #114
preview is here https://yanfali.github.io/qmk_configurator/
CTRL + SHIFT + I to load an info.json

[2018-05-15 21:52] drashna opened #115 "Missing some layer codes"
Namely ~~`LT(x, kc)`, `LM(x, mod)`~~, `TO(x)`, and `TT(x)` are missing from the layer functions.

[2018-05-15 22:07] yanfali commented on #115
yeah, these are all special. TO and TT should be easy
LT and LM are trickier

[2018-05-15 22:55] yanfali commented on #115
@drashna can you create a separate bug for LT and LM please? I think we can close out TO and TT soon. The other two will require more thought.

[2018-05-16 00:23] drashna opened #117 "Add support for dual variable Layer keycodes"
Namely LT(x, kc), and LM(x, mod).  Both require 2 variables (layer and mod/keycode).

IIRC, configurator doesn't support multiple inputs, yet

[2018-05-17 04:03] mechmerlin opened #118 "Layers that are populated with layer activating keycodes such as TO don't turn bold when clicked"
Discovered while testing of PR #116.
Steps to reproduce
1. Use any keyboard/layout.
2. Drag and drop TO and set it to a layer of your choosing.
3. When clicking on the layer you set, a TRNS is put in the position of TO but the layer number doesn't get bolded.

When exported and imported back in, the layer number is now bolded.
If you don't click on that layer, it will lead to a compile error.

[2018-05-17 05:17] yanfali opened #120 "Look into feasibility of assigning CTRL/CMD + A to select all keys on a board"
This would be useful for filling everything with KC_TRNS or KC_NO

[2018-05-18 03:51] Arrowmaster opened #121 "Fails to compile when using LCtl_T and RSFT_T"
I created a keymap for Atreus62 using LCtl_T and RSFT_T. It fails to compile when using these but succeeds after removing them.

{"keyboard":"atreus62","keymap":"mine","layout":"LAYOUT","layers":[["KC_GRV","KC_1","KC_2","KC_3","KC_4","KC_5","KC_6","KC_7","KC_8","KC_9","KC_0","KC_MINS","KC_TAB","KC_Q","KC_W","KC_E","KC_R","KC_T","KC_Y","KC_U","KC_I","KC_O","KC_P","KC_BSPC","LCtl_T(KC_ESC)","KC_A","

[2018-05-18 03:56] yanfali commented on #121
Thanks for the report. We have a fix incoming. Good catch.

[2018-05-18 04:11] yanfali commented on #121
Should be fixed now. Please try again. Thanks

[2018-05-18 06:02] yanfali commented on #115
This one should be fixed now Thanks!

[2018-05-19 15:35] yanfali commented on #121
@Arrowmaster please feel free to close the issue once you've verified it's working. Thanks

[2018-05-19 15:36] yanfali commented on #118
@mechmerlin this should be resolved now. Thanks

[2018-05-19 16:18] #112 closed

[2018-05-19 18:09] Arrowmaster commented on #121
Importing the old json file still failed to compile. Removing the bad keys and recreating them in the configurator corrected the issues and it now compiles. Did not flash hex to keyboard and test functionality.

[2018-05-19 18:09] #121 closed

[2018-05-21 21:22] #118 closed

[2018-05-22 21:48] mechmerlin opened #126 "Big Switch exposes alignment issues"
When using the Big Switch with it's Big display: https://config.qmk.fm/#/bigswitch/LAYOUT

You get centered text when using keycodes like KC_A or even Backspace, but when you use something like MO, its centered but moved to the very top. They should all be centered.

[2018-05-25 16:19] drashna opened #129 "Ergodox Layout broken in Configurator"
Not only does it generate an error in the API error list .... it doesn't show right in the configurator.... despite the fact that the info.json is correct (tested it with comebody's previewer first, actually)

You can view it here.  The top row of each half has one too many keys.  This affects ALL of the layouts, actually.
https://config.qmk.fm/#/ergodox_ez/LAYOUT_ergodox

However, this is not ref

[2018-05-25 23:24] mechmerlin opened #130 "Download Source is broken"
Even after compilation and the Download Source button turns green, nothing happens.

@skullydazed  reports that it works fine on the backend

noroadsleft reports that it sticks it in the console, so this is probably a front end error.

[2018-05-25 23:40] noroadsleft commented on #130
I just tried this on a clean install of Firefox. Same behavior as my normal install. Chrome 66.0 64-bit is the same as well.

I am on Firefox 56.0.2 (64-bit), Windows 8.1. I can maybe try a current Firefox a bit later on this evening.

[2018-05-26 01:03] yanfali commented on #130
not technically broken. Was never implemented.

[2018-05-27 03:46] mechmerlin commented on #130
https://pixel.nymag.com/imgs/daily/selectall/2017/02/09/09-roll-safe.w710.h473.jpg

This works now.

[2018-05-27 03:46] #130 closed

[2018-05-31 04:41] yanfali opened #135 "set keymap name to lower case"
Suggested by @jackhumbert

[2018-06-02 23:24] #64 closed, assigned to nobody

[2018-06-02 23:55] yanfali commented on #114
Closing, as this has now been merged.

[2018-06-02 23:55] #114 closed

[2018-06-02 23:57] yanfali commented on #69
Hi @colemarkham we actually had a prototype that rendered this using a markdown library, but @jackhumbert preferred having the text always be on screen. We're looking at redesigning the layout and there may be a possibility to revisit this.

[2018-06-03 00:00] yanfali commented on #73
I think I know how to solve this issue, but I would prefer to defer the fix to when we move to a self a more flexible UI toolkit than jQuery. The work around for now is to ensure you have left the input box so the event is captured.

[2018-06-03 00:02] yanfali commented on #87
@skullydazed is working on adding ARM support back to the API, as soon as have this the API will begin advertising ARM based boards again.

[2018-06-03 00:04] yanfali commented on #83
This should be resolved as off commit de6d057f1bba89f20cecbb3b2a1841e4c6e06a0d please feel free to re-open issue if this is still a problem.

[2018-06-03 00:04] #83 closed

[2018-06-03 00:08] yanfali commented on #7
I think we have this working now. @mechmerlin does this one seem done to you?

[2018-06-03 00:10] yanfali commented on #6
@skullydazed I think I looked into this, but there were some practical API issues with which prevented the UI from using the default keymap correctly. We should properly discuss.

[2018-06-03 00:15] yanfali commented on #2
I've looked into this a bit, and I think i18next.js is a good option, it works with both jQuery and all the popular UI frameworks.

[2018-06-03 00:17] yanfali commented on #3
I think the best way of dealing with this would be to add a info.json that overrides the default layout from the header files.

[2018-06-03 00:18] drashna commented on #115
Sorry, yes!

Closed.

[2018-06-03 00:18] #115 closed

[2018-06-03 00:21] yanfali commented on #52
Talked this over with @skullydazed and it looks like we can already handle this via the API. I'm going to file a new enhancement bug to rename the download hex button to download firmware.

[2018-06-03 00:21] #52 closed

[2018-06-03 00:22] yanfali opened #137 "rename download hex -> download firmware"
Related to issue #52 this labels the button something more generic as depending on the keyboard being compiled, you may end up with a bin file, not a hex.

[2018-06-03 22:05] dmgm commented on #87
Could we have an intermediate step? I have successfully manually flashed QMK to the K-Type. Could we make it so the configurator allows you to save a configuration, which would then be manually flashed?

[2018-06-03 22:07] yanfali commented on #87
Before it was disabled, you could sort have done this with the download source button. I think that would be too confusing for novice users though, which is why it was temporarily disabled.

[2018-06-03 22:08] yanfali commented on #87
@skullydazed is there any way to get a cli tool which takes the keymap JSON and converts it to source like the API?

[2018-06-04 07:09] yanfali opened #138 "make kc_trns more obvious"
Enhance kc_trns visually so it conveys the intention of the keycodes visually better. Suggestions: make keycode display the layer below, but at a lower opacity so that the user intuitively understands pressing this key is passed to the layer below.

[2018-06-04 16:39] yanfali commented on #135
completed.

[2018-06-04 16:39] #135 closed

[2018-06-06 13:21] mechmerlin commented on #90
Some work was done on this via PR #140

[2018-06-08 15:21] Cybolic commented on #129
The issue seems to be that comment blocks are read as key definitions.

E.g.

[code]

Outputs:
[code]

[2018-06-08 15:29] yanfali commented on #129
That looks like a parser issue. @skullydazed looks like we need to strip comments out :(

[2018-06-08 17:11] drashna commented on #129
Also, this PR will fix the issue: https://github.com/qmk/qmk_firmware/pull/3052
I'd merge, but it's my PR...

[2018-06-13 16:15] yanfali commented on #90
@mechmerlin this should be resolved now. Thanks!

[2018-06-13 16:16] yanfali commented on #137
Fixed by @mechmerlin, thank you!

[2018-06-13 16:16] #137 closed

[2018-06-14 05:34] yanfali opened #145 "pop an alert when the user navigates away if keymap is dirty."
just like the other checks, give users a chance to save their work.

[2018-06-15 01:37] noroadsleft opened #146 "Feature: Check user keymaps for possibilty of getting "locked in" on a layer"
Was talking with @yanfali earlier today about this.

Right now, adding a layer-changing key pre-fills the same key with KC_TRNS on the target layer, but there's no system in place that prevents the user from overwriting the key with something else, thus allowing them into a layer, but with no way back out of the layer. The Configurator should warn the user or outright prevent them from setting a k

[2018-06-15 16:13] yanfali opened #148 "Warn user if they're not running Firefox or Chrome"
We require ES6 and CSS Grid support for configurator. Warn the user if they are running a different browser that it may not be the best experience.

[2018-06-15 23:40] yanfali opened #149 "Look at excluding _kc keymaps completely"
@noroadsleft pointed out
[code]

We should probably make a hard decision about excluding these options from the UI as they do not work in configurator at all.

[2018-06-16 01:58] aidenhx opened #150 "How to"

[2018-06-16 02:15] aidenhx commented on #150
Hey, guys! I can't find an option for configuring a macro. Can anybody help me? Thanks!

[2018-06-16 02:16] mechmerlin commented on #150
Macros are currently not supported in the Configurator. The only way right now is to download the source and code it up the old way.

[2018-06-16 02:47] yanfali commented on #150
Hi @aidenhx, sadly this is true for now. However, you can use the configurator to generate your initial keymap and then compile it. Then hit download source to get a starter keymap.c which you can then use as a base for your macro programming. Hope that helps. We fully intend to add macros but we're not there yet.

[2018-06-17 00:24] yanfali opened #151 "Do not enable download firmware/source on a failed compile"
Reported by @NimMooMoo on discord.

[2018-06-17 00:24] yanfali opened #152 "look at vertically challenged layouts like handwired/dactyl"
Putting this here as a reminder, but it's part of the upcoming layout redesign. Another good catch by @NimMooMoo

[2018-06-17 00:31] yanfali commented on #151
planck has this problem.

[2018-06-17 00:31] yanfali opened #153 "look at why planck doesn't compile"

[2018-06-17 06:36] skullydazed commented on #151
Disabling firmware download is a safe bet. However, would some users find it helpful to download source so they can debug failed builds easier? Or would we find it helpful when helping users debug?

[2018-06-17 06:40] yanfali commented on #151
I would like that. Right now I believe it doesn't allow that. I would like to debug the planck build for example.

[2018-06-18 17:17] mechmerlin opened #157 "default keymap name of "mine" cannot be easily deleted"
Using Chrome on macOS 10.13.4

When trying to delete "mine" by backspacing over one character at a time, starting from e, down to m. As soon as m is deleted, "mine" is shown again. The only way to properly delete it is to highlight "mine" and then delete.

Coincidentally, this behavior is not consistent. If you have successfully made a keymap name such as
"no_more_iso", highlighting it and deletin

[2018-06-18 17:20] yanfali commented on #157
Yeah, I'm aware of this behavior. I can look into changing it. The current work around is to select all and then start typing. it's to do with the reactive model checking the value. I think I can change it to allow empty and only substitute in mine if you leave it blank.

[2018-06-18 19:13] yanfali opened #159 "validate info.json files on preview and look for invalid layers"
We recently had a contributor provide an info.json file that contained a C definition alias for the layer change MO() key. For configurator we should validate those values are only integers.

[2018-06-18 19:14] yanfali commented on #159
Thanks to @noroadsleft for pointing out the issue

[2018-06-18 19:51] noroadsleft commented on #153
Culprit is the `EXT_PLV` keycode. https://github.com/qmk/qmk_configurator/blob/ee789f0a895d62df4384ae15ee673a56d0c4e751/keymaps/planck_default.json#L11

Compiles without errors if you delete the keycode.

----

Defined in as a macro in qmk_firmware.

- https://github.com/qmk/qmk_firmware/blob/44660e77a4e4c3f6ab180df1f8135ba0691dc012/keyboards/planck/keymaps/default/keymap.c#L38
- https://github.co

[2018-06-18 20:12] yanfali commented on #153
@jackhumbert what do you want to do? If we leave this out the keymap will compile in configurator.

[2018-06-18 20:13] yanfali commented on #153
@noroadsleft you want to open a PR with the code removed and let's get @jackhumbert to review it?

[2018-06-18 20:44] noroadsleft commented on #153
I'm willing to do so, but then the default in Configurator won't match the default in qmk_firmware, which I'm not keen on.

I have no idea how the Plover support works, so can't help there.

[2018-06-18 21:14] yanfali commented on #153
Yeah, I think it's unavoidable though for the time being unless we want a
non working config.

On Mon, Jun 18, 2018, 13:44 noroadsleft <notifications@github.com> wrote:

[2018-06-18 21:56] yanfali commented on #153
Awesome work @noroadsleft

[2018-06-18 21:56] #153 closed

[2018-06-19 01:34] noroadsleft commented on #153
Thank you, @yanfali.

[2018-06-19 01:39] noroadsleft commented on #151
I agree with yanfali. Being able to download source, even if invalid, would make debugging easier.

[2018-06-20 05:14] yanfali commented on #157
OK, closing this as fixed.

[2018-06-20 05:14] #157 closed

[2018-06-23 04:10] holtenc commented on #52
I see this change has been implemented, but for the TADA68 it still downloads a HEX instead of a BIN

[2018-06-23 05:10] yanfali commented on #52
Nope. Sorry. Waiting in all changes still.

On Fri, Jun 22, 2018, 21:10 holtenc <notifications@github.com> wrote:

[2018-06-25 05:08] yanfali opened #163 "open a new window on download toolbox"
Suggestion by @chuckdee download of toolbox should open a new tab.

[2018-06-25 05:36] yanfali commented on #163
See PR #164

[2018-06-25 05:36] yanfali commented on #152
Duplicate of issue #3

[2018-06-25 05:36] #152 closed

[2018-06-25 16:58] yanfali opened #165 "Enhance Info Preview Mode"
Because the API does more rigorous tests against qmk_firmware/info.json files the preview mode doesn't warn the user when the preview won't be presented by the API due to a key mismatch. Add a check to compare the key matrix lengths and warn the user about invalid info.json entries.

[2018-06-25 16:59] yanfali commented on #165
reported by @mechmerlin

[2018-06-25 18:54] yanfali commented on #163
closing as fixed

[2018-06-25 18:54] #163 closed

[2018-06-26 00:10] jibreil commented on #52
@yanfali any idea if/when this functionality will be implemented, myself and others are looking for an easy way to get the `.bin` for a TADA68 without manually building QMK via the command line.

[2018-06-26 00:13] yanfali commented on #52
@jibreil hopefully in the near future. @skullydazed is a bit busy right now, but hopefully he can get it over the line once he's freed up. It's mostly a backend issue as the front end doesn't have control over what bits are sent over the API.

[2018-06-26 00:17] jibreil commented on #52
@yanfali 👍

[2018-07-02 14:46] gwerbin opened #170 "Stuck on "Sending" step"
I submitted [this layout](https://gist.github.com/gwerbin/d7f0f0047259d64a0b3660a55c663d95) to the [QMK configurator](https://config.qmk.fm), but it seems to be stuck on the first stage,

[code]

Any thoughts? Is something wrong with my layout, and this is causing some kind of error scenario? Is the backend API down?

[2018-07-02 14:49] yanfali commented on #170
Looks like a bug on the import. I'll take a look in a bit and get back to you. I think I know what the problem is.

[2018-07-02 14:54] yanfali commented on #170
OK, there's a bug on export.  To work around it for now, please edit the keymap name and remove 'kbd75/' and I'll work on fixing this. Thank you for reporting this!

[2018-07-02 15:09] yanfali commented on #170
@gwerbin a fix is in place, please try again in about 5 minutes. Thanks.

[2018-07-02 15:09] #170 closed

[2018-07-02 17:50] gwerbin commented on #170
Tested and it works. That was fast, thank you!

[2018-07-11 19:44] yanfali commented on #6
bumping the priority on this one again. Review code to figure out what needs to change on API

[2018-07-12 17:23] noroadsleft opened #175 "Create a folder exclusion list for keyboard selection drop-down"
Some "keyboards" able to be selected in the Configurator are not actually valid keyboards, but rather directories that contain the files for keyboards. The containing directories should be excluded from the drop-down menu.

@yanfali @mechmerlin

[2018-07-12 17:31] mechmerlin commented on #175
Thanks for filing this, here's my list of what we need to blacklist

atom47, christmas_tree, crkbd, deltasplit75, e6v2, eagle_viper, eco, ergo42, ergodash, ergotravel, fortitude60, fourier, hadron, helix, iris, jc65, kbd75, kinesis, launchpad, lets_split, levinson, mechmini, meira, minidox, nyquist, octagon, orthodox, planck, preonic, redox, s60_x, vitamins_included, zen

[2018-07-12 18:54] noroadsleft commented on #175
Okay, here's my proposed exclude list:

- atom47
- chibios_test
  - This a valid keyboard in a sense, but not sure it serves a purpose being in Configurator.
- crkbd
- deltasplit
- e6v2
- eagle_viper
- eco
- ergo42
- ergodash
- ergotravel
- fourtitude60
- fourier
- hadron
- helix
- iris
- jc65
- kbd75 (rev2 needs better layout support IMO)
- kinesis
- launchpad
- lets_split
- lfkeyboards
- mechmin

[2018-07-12 19:02] noroadsleft commented on #175
Keyboards on my list that are not on @mechmerlin's:

- chibios_test
- lfkeyboards
- ps2avrGB
- viterbi

Keyboards on @mechmerlin's list that aren't on mine:

- levinson

The Levinson, I meant to add but forgot to note.

ChibiOS_test and ps2avrGB I noted in my previous comment.

IMO LFKeyboards should be deleted because it's a vendor folder rather than a keyboard. Looking at qmk_firmware, I'm not a

[2018-07-14 04:41] skullydazed commented on #6
Some of the issues we've identified to solve:

* [] Custom keycodes, such as `RAISE` and `LOWER` don't work
* [] Some keyboards don't have default keymaps in the API due to parsing errors

[2018-08-03 01:01] aidenhx opened #183 "How to configure adjust layer?"

[2018-08-03 01:29] yanfali commented on #183
Hi @aidenhx this is one of the few keyboards where we're have difficulty supporting the current keyboard code directly. Adjust/raise/lower are implemented in code rather than as keycodes, so you would have to use a combination of  layers to simulate something similar.

We're working on it, but it's not ready yet.

In the meantime, please join our discord so you can ask questions in real-time and h

[2018-08-07 19:52] mechmerlin opened #184 "Help Overlay"
**Some common problems observed on the configurator**

1. People forget to choose an appropriate layout, resulting in confusion when filling up extra "spaces" in the keycap.

2. After keymap creation, people are unsure of where to go next. Some think that the resulting .json from `Export Keymap` is the final result.

3. Extension of point #2, users don't understand what the word compile means and

[2018-08-07 19:59] yanfali commented on #184
https://github.com/pulsardev/vue-tour looks promising

[2018-08-17 12:32] DarkDefender opened #185 "[TADA68 ISO] Fails to generate working binary"
Hi, I tried out the configurator and generated the following keymap for my tada68:
[conf.zip](https://github.com/qmk/qmk_configurator/files/2297163/conf.zip)

At first it didn't want to compile (failed at the "Running" step), so I exported the keymap and loaded it again. After that, it seems like the compile goes through without any errors and I get a 4kb .bin file.

However it doesn't work at all

[2018-08-17 14:31] yanfali commented on #185
Hi @DarkDefender the tada68 support is still incomplete unfortunately. @skullydazed is working on it and I hope to have a solution for you presently. I'll update this issue once we've figured it out.

[2018-08-17 15:27] DarkDefender commented on #185
Ah, I see. No problem, I took and compiled my own `.bin` file from source. So I'm in no hurry really.

[2018-08-21 05:17] veradalelabs opened #186 "[AL1] Arrow Keys in wrong position"
Not sure if this is the correct place to report this or where I should be reporting it.

For the AL1, the arrow keys are in the wrong positions.  I spent WAY too much time with the soldering iron when I was building my board thinking I had a bad solder bridge somewhere because my numkey and arrow keys were borked.

The up arrow should be in the 68th position, and the left,down,right arrows should

[2018-08-21 05:28] mechmerlin commented on #186
Hey@veradalelabs, we've received some reports about this but haven't been told exactly what's wrong. Thank you for filing an issue.  Can you clarify what your indexing is? What do you mean by the "80, 81, 82" position. Are you referring to the info.json or the keymap.c?

Have you tried building it using the command line with your chosen keymap?

[2018-08-21 05:28] yanfali commented on #186
Hi @veradalelabs I'm super sorry you had to go through that. The bad news is that the source data comes from [qmk_firmware info.json](https://github.com/qmk/qmk_firmware/blob/master/keyboards/al1/info.json) and [al1.h](https://github.com/qmk/qmk_firmware/blob/master/keyboards/al1/al1.h), configurator merely tries to display what's in those files.

The good news, since you've figured out what the p

[2018-08-21 05:43] veradalelabs commented on #186
@yanfali do not sweat it at all.  With all the issues others were having with the board, I did not think it was an issue with the configurator.

@mechmerlin I am SUPER new to this whole thing.  The AL1 was the first MK I ever built and the first one I have used QMK with.

If I use the visual editor and build my keymap like this: ![badjson](https://user-images.githubusercontent.com/5086350/44382365

[2018-08-21 05:56] mechmerlin commented on #186
The backllighting and rgb don't work because they are not enabled  by default in the rules.mk file.  The advent of the configurator has made it more apparent that absent a rules.mk toggle switch, we can't assume that turning those off are default.  I can file a PR later to get those in, but I'll see if I can figure out the indexing too so I'm not having drashna review things multiple times.

[2018-08-21 06:29] veradalelabs commented on #186
So if I were to put together a little QMK dev environment I might be able to tweak the build a bit and enable the backlight controls?  I need to do some more reading now that I have all the hardware portions of the build done.

Thanks

[2018-08-21 08:34] noroadsleft commented on #186
qmk/qmk_firmware#3716 should fix the keycodes being assigned to the wrong keys.

This won't do anything about the backlighting or RGB, however.

[2018-08-21 15:05] veradalelabs commented on #186
@noroadsleft thanks! backlight is a whole different thing.  I'll address it separately.

[2018-08-23 23:46] yanfali commented on #186
@veradalelabs are we all squared away now? Please feel free to close this issue if you feel it's resolved. Thanks

[2018-08-24 02:52] veradalelabs commented on #186
@yanfali We're good to go here.

@mechmerlin @noroadsleft Thanks for the help.  I learned a lot through this process.  I am going to be porting my sentrac TK78 to QMK as a result of this experience.

[2018-08-24 02:52] #186 closed

[2018-08-27 14:54] skullydazed opened #188 "Provide a way to rearrange layers"
The way layers work in QMK is not compatible with the naive model most people approach QMK with. It's really easy to define layers in the wrong order due to that. We should provide a way to rearrange layers so that people don't have to recreate their layers to move them around.

[2018-08-30 08:15] tobster-de opened #189 "Please support mouse"
I would like to see [mouse support](https://docs.qmk.fm/#/feature_mouse_keys) in the configurator.

Thanks

[2018-08-30 08:17] tobster-de commented on #188
One could work around this with export/import.

[2018-08-31 19:14] noroadsleft opened #190 "Configurator error log: more detailed error messages."
The current error log for the Configurator has a lot of these:

[code]

Doesn't say which keyboard is broken, which makes troubleshooting nigh impossible.

Additionally, there's ones like this:

[code]

which are more helpful, but need debugging on their own, because the message is unclear about which number came from which source. Is the `70` from the `info.json` file, or the matrix macro? I can'

[2018-08-31 23:33] yanfali commented on #190
@noroadsleft we also have this https://yanfali.github.io/qmk_error_page/

[2018-09-02 05:09] noroadsleft commented on #190
@yanfali I look at this sometimes, but from what I've seen, a number of these only fail for lack of API support, rather than actually being broken.

Tap Dance in particular breaks a number of these. Compiles perfectly if run from downloaded QMK source, but fails in Configurator.

[2018-09-04 01:48] skullydazed opened #192 "Allow autocomplete in the dropdowns"
It would be cool if you could click in the dropdowns and start typing, and have your choice autocompleted. It should match substrings within dropdown values so that you don't have to know what your selection starts with in the case of boards like `play/ca66`.

[2018-09-07 18:33] spytecinc commented on #129
Hey guys! Just wanted to report that the same issue is occurring for all 3 layouts for Frosty Flake, and I'm guessing others as well.

Since this issue is still open, I thought I'd mention it here. @drashna I can try to mirror the changes you made for the Frosty Flake layout and submit a PR if you think that's still a good idea?

[2018-09-17 21:27] skullydazed commented on #190
I yanked the configurator errors from the log in this commit: https://github.com/qmk/qmk_api/commit/9d106a9780b90dc9d277f47102f4bd5cf55e7e9a

I've opened an issue on yanfali/qmk_error_page to switch that to a richer API, so we can still access that information.

[2018-09-17 22:38] skullydazed commented on #190
The error log changes are out, is it looking better?

On the number of elements does not match message, my intent was that the numbers convey how many elements each side has. In that case info.json has 70 entries, while LAYOUT requires 73. Do you have any suggestions for how I can make that more clear?

[2018-09-18 14:11] mechmerlin opened #194 "Better Button Naming"
## We need better button names that aren't repetitive of the section they are in, or a "rehash" of what the tooltip will say.

### Examples
For example, in the RGB section, we have buttons called RGB something something.
- We can do Mode+ and Mode-. instead of RGB Mode +. After all we do have just Hue+ and Hue-
- Rather than RGB Mode B, we could just call it Breathe.
- We could call RGB Mode R, ju

[2018-09-18 15:30] yanfali commented on #185
@DarkDefender can you give it another go please? We just added .bin support. You will be our first user.

[2018-09-18 15:31] yanfali commented on #190
OK, closing this now the feature has been moved to https://github.com/yanfali/qmk_error_page

[2018-09-18 15:31] #190 closed

[2018-09-18 15:32] yanfali commented on #189
Hi @tobster-de this is going to need API support, as we have to change configuration options on the compiler to enable mouse. We'll update this issue when the API gets this feature.

[2018-09-18 15:34] yanfali commented on #90
closing.

[2018-09-18 15:34] #90 closed

[2018-09-18 16:04] DarkDefender commented on #185
Oh, I see. I think I will have some time tomorrow when I can test it out. Thanks for the heads up

[2018-09-18 16:31] yanfali commented on #190
@noroadsleft that's an API issue, I think @skullydazed needs to clear out or regenerate the data over time. The UI doesn't cache anything.

[2018-09-19 11:05] DarkDefender commented on #185
Using the same json file as before, it now generates working binaries. However there is one huge flaw. The middle row is shifted to the left. So "asdf" -> "sdfg".

I don't know where to find the generated `.c` file. However this is my working config file that I used when I generate the firmware myself: https://gist.github.com/DarkDefender/d4274023bec1e02e8618d384c53340d7

[2018-09-19 13:15] yanfali commented on #185
Try download source. It'll contain the keymap.

[2018-09-19 13:50] DarkDefender commented on #185
Oh right, I did download the source before. But I didn't expect it to create a new layout in the ordinary place somehow...

So here is the generated source (edited for formatting):
https://gist.github.com/DarkDefender/eee9cfc8e57059bb804fbd9ee143e788

If we compare it to my working config, we can see that the backslash/iso hash key is in the wrong place. While it would be logical to have it in it'

[2018-09-19 13:55] yanfali commented on #185
Thanks for looking into this. It sounds like the layout is wrong in the main repo. I'll chat with the firmware folks and try and get this fixed up.

[2018-09-19 17:56] yanfali commented on #185
OK. Looks like this is a firmware issue. Going to close this now as fixed.

https://github.com/qmk/qmk_firmware/pull/3943 to follow thread on there @DarkDefender

[2018-09-19 17:56] #185 closed

[2018-09-19 17:57] yanfali commented on #185
@fcoury also tested the bin support on an ANSI Tada and it worked fine. Thanks @fcoury

[2018-09-19 17:57] fcoury commented on #185
Thank you all for the amazing and continued work @yanfali

[2018-09-23 15:19] buzzlighter1 commented on #73
I have the same bug. Imported layout > changed MO(0) to MO(1) > exported, and it didn't change it.

[2018-09-26 15:13] yiancar opened #195 "Chibios compiling and downloading"
As I understand it the issue to get Chibios based boards is twofold.

Firstly, the backend does not support pulling the necessary git modules. For example Chibios, Chibios-Contrib etc. I imagine there should be a way for periodically to check those repos and pull when needed.

Furthermore I have been informed that for some reason the frontend cannot let you download .bin files (@yanfali has some s

[2018-09-26 16:29] yiancar commented on #195
I did not know that the API was not here:)

[2018-09-26 16:29] #195 closed

[2018-09-26 16:33] yanfali commented on #195
No problem

[2018-09-30 00:06] yanfali opened #197 "loading default layers"
https://api.qmk.fm/v1/keyboards/nyquist

returns a datastructure with a field called keymaps

[code]

assuming a keymaps field exists, search for default and use it to load the keymap. If no default exists attempt to load the first one in the list.

https://api.qmk.fm/v1/keyboards/<keyboardpath>/keymaps/<keymap name>

Returns a data structure that looks like this:

[code]

Use the layers info to p

[2018-09-30 00:16] yanfali commented on #192
https://github.com/moreta/vue-search-select is a possibility

[2018-09-30 21:54] skullydazed commented on #197
[code]

[2018-09-30 22:32] yanfali commented on #197
Yeah this makes more sense as we have multiple layouts. I like it.

[2018-10-01 16:02] yanfali commented on #175
merged.

[2018-10-01 16:02] #175 closed

[2018-10-09 02:43] douglas opened #201 "Error when building firmware for Ergodox Infinity"
Hello!

I was trying to build a firmware for a Ergodox Infinity but it didn't work, here's the build log:

[code]

If I'm not mistaken, what I had to do to build it locally was to run `make git-submodule` to fetch the submodules.

[2018-10-09 02:51] yanfali commented on #201
@douglas sorry, but there's an issue with the ugfx library. I think the license prevents us from distributing it. Only end users are allowed to download it and compile against it. I'll talk to the other folks on QMK to possibly remove boards that use this library from the configurator because of this limitation.

[2018-10-09 02:53] yanfali commented on #201
@skullydazed @jackhumbert do you know what the story is with ugfx? is this like arm and we just need to git-submodule the library, or is there an license issue?

[2018-10-09 03:32] douglas commented on #201
Hmmmmmmm, is there a way for `configurator` export a `keymap.c` file then? It would help qmk configuration greatly! Thanks for you hard work! `Configurator` helps me a lot ❤️

[2018-10-09 03:38] douglas commented on #201
Also, this is weird as I don't have this library installed here - are you sure it isn't an outdated configuration/checkout on the server?

[2018-10-09 03:40] drashna commented on #201
Well, the configurator has a "download source" which is everything you need to set up a build environment.

As for the lib, it's a git submodule, specifically.  So, it may not be getting updated for various reasons

[2018-10-09 03:41] douglas commented on #201
It does not work when the build does not succeed 😢

[2018-10-09 03:46] douglas commented on #201
`As for the lib, it's a git submodule, specifically. So, it may not be getting updated for various reasons` it makes sense.

But I was digging on `ugfx` library [website](https://ugfx.io/pricing) to learn more about licensing and seems it can be used freely for `education/home/hobby` which seems what we do, no?

[2018-10-09 12:16] douglas commented on #151
I would love this as well, but for `Ergodox Infinity` - In my case it is even simpler, I would love to download/see the generated `keymap.c` file so I can still use configurator but building the firmware locally.

[2018-10-09 12:30] douglas commented on #201
I sent an email asking for clearance to use it in `QMK Configurator`, let's see how it goes:

[code]

[2018-10-09 12:40] douglas commented on #201
Yay, this is the first reply:

[code]

They were really kind! Of course we can wait more, but seems it will not be a problem given the scope of `QMK` and `QMK Configurator`.

Other than that, can I help somehow?

[2018-10-17 13:01] douglas commented on #201
Hello @yanfali! Confirmed that we can use `µGFX` with `qmk_configurator`!! Is there anything that I can do to help fixing the problem when building Ergodox Infinity? Thank y'all so much for the work on configurator! It is really awesome!

[2018-10-19 05:49] yanfali commented on #201
@douglas thanks. I'll have a word with Skully when he gets back. It's really more of a backend API change than anything we do on the UI. @skullydazed

[2018-10-22 04:04] douglas commented on #201
Yay! Thanks a lot, @yanfali! 👍

[2018-10-27 23:52] newtonapple commented on #117
Is there a timeline for supporting LT & LM?  I personally use LT a lot, it'd be great to be able use these through the graphical configurator, like how they have it on qmkeyboard.cn or kbfirmware.com.

[2018-10-28 00:02] yanfali commented on #117
Nope, sorry. You can kind of use it now using ANY. It should work, though I
haven't tested it recently.

On Sat, Oct 27, 2018, 16:52 David Dai <notifications@github.com> wrote:

[2018-10-31 00:39] noroadsleft opened #211 "Bug: info.json upload for preview only works once"
The Configurator feature that allows a user to upload a file to preview how it will render when merged (assuming no JSON-to-keyboard.h mismatches) by pressing Ctrl+Shift+I. It has had a bug of sorts for a while where it only worked once, and you had to refresh the page to use it again. I recently stumbled upon why that is.

When the user presses Ctrl+Shift+I, the HTML select element for `Keyboard`

[2018-10-31 09:01] newtonapple commented on #117
How does `ANY` work?  Do you just type in, for example: `LT(1,KC_SPC),` in the text box? When I tried that, it gave me the follow error:

[code]

[2018-11-04 04:34] drashna commented on #129
This was fixed in the qmk repo, so it's no longer an issue with that board.

Not closing, because it should be improved to prevent this issue in the future.

[2018-11-04 04:50] drashna opened #213 "Only download keymap source"
I'm not sure if it's due to technical limitations or what ..... but I feel that it's not intuitive or helpful to download the entire source from the configurator.

All we need is the keymap.c, rules.mk, and config.h from the keymap folder. Maybe the json, too.

That way, users can just dump their files into a full qmk_firmware repo, and build that.

The Ergodox EZ Configurator handles it this way

[2018-11-04 04:52] yanfali commented on #129
@skullydazed this would be a perfect time to try transferring an issue between repos.

[2018-11-09 06:01] ThibaultMondanel opened #214 "Can't write in "Any" blocks"
These blocs turn blank as soon as you change the layer level
![image](https://user-images.githubusercontent.com/8020057/48245825-d7475a80-e3ba-11e8-9394-658ee4c7e10f.png)

[2018-11-09 06:05] DillonHightower opened #215 "Kira 75 support"
Kira 75

There is an issue with default load out.

It does not have back lighting on or rgb under glow on by default. It is turned off.

[2018-11-09 06:09] ThibaultMondanel commented on #214
I tried these codes:
KC_SYSTEM_SLEEP ; KC_SLEP ; KC_BTN1 ; KC_BTN2 ; KC_BTN3

[2018-11-09 06:32] yanfali commented on #214
the technical reason any is leaving the codes blank is it's checking them against a built table of codes and ignoring ones it doesn't know about. Not the best user experience I know sorry.

[2018-11-09 06:33] yanfali commented on #215
@skullydazed @jackhumbert @drashna whomever has admin bits, can you transfer this over to qmk/qmk_firmware?

[2018-11-15 19:15] douglas commented on #201
Hey @skullydazed! Is there anything that I can do to help?

[2018-11-15 19:51] yanfali commented on #214
OK, SLEP is in the UI now. I'm going to close this bug as resolved. Thanks for reporting it @ThibaultMondanel

[2018-11-15 19:51] #214 closed

[2018-11-15 19:51] yanfali commented on #211
This should be fixed now.

[2018-11-15 19:51] #211 closed

[2018-11-15 21:05] noroadsleft commented on #211
Confirmed as fixed.

[2018-11-21 19:06] moubry opened #217 "Compile errors due to network timeouts"
I'm currently seeing a network timeout error compiling in the QMK Configurator.

Steps to reproduce:

1. Navigate browser to https://config.qmk.fm.
2. Click "Compile" button.
3. See an error that looks something like this:

[code]

Maybe a production configuration issue with [QMK API](https://github.com/qmk/qmk_api)? Maybe `QMK_GIT_URL` isn’t set?

[2018-11-21 21:55] yanfali commented on #217
@skullydazed are we out of storage? or is digital ocean/s3 down?

[2018-11-21 22:01] yanfali commented on #217
Hey @moubry I just tried it again and it seems to be working. Unfortunately it looks like you hit the API when there was a network problem with our storage provider and it seems to have corrected itself already. Please try again and re-open this bug if you are able to reproduce the problem. Thanks for reporting.

[2018-11-21 22:01] #217 closed

[2018-12-03 23:21] yanfali opened #220 "avoid compilation failure for a custom keymap name"
When compiling a custom keymap, highlight the error for the user when they pick a keymap name that conflicts with an existing one. e.g. loading a custom keymap that has the name 'default' causes an error at compilation time. It would be useful to flag this before hitting compile.

[2018-12-03 23:39] yanfali opened #221 "try optimistically to load default keymap"
when loading a new keyboard/layout, optimistically try loading the default keymap. Even if it's not there it's a better user experience.

[2018-12-03 23:40] yanfali opened #222 "experiment with hiding the console my default and expanding it when the user hits compile."
The console may be a little confusing for new users. Only show it when they hit compile, otherwise have it collapsed by default.

[2018-12-09 21:34] link6155 opened #224 "Volume up mapping is not working"
When I assign a key to be volume up in the configurator and then flash it onto my keyboard (Chimera Ortho), it doesn't do anything. The volume down and mute key works however and if I use the "Any" function to manually input the keycode, it works.

[2018-12-09 21:43] yanfali commented on #224
Thanks for reporting this. Looks like a keycode may have been mismapped. What code works for you in ANY?

[2018-12-09 21:43] yanfali commented on #224
@noroadsleft you want to check this out? I believe you were in there last. Thanks

[2018-12-09 22:03] noroadsleft commented on #224
Source looks okay from what I can tell so far. Let me build a keymap and flash it and see what happens. I'll reply again.

[2018-12-09 22:17] noroadsleft commented on #224
Tested and working as intended on my KC60.

@link6155 Do other keycodes (something other than volume control) work on the same switch, in that layer or others?

[2018-12-15 23:30] noroadsleft opened #227 "Configurator API parses macros that are commented out in source code"
This might be more appropriate for [qmk/qmk_api](https://github.com/qmk/qmk_api), but:

I've been going through the keyboards in the Configurator, looking for rendering errors. I got to the Espectro and realized that [Configurator presents the LAYOUT_all macro](https://config.qmk.fm/#/espectro/LAYOUT_all), but [the macro is commented out in the source code](https://github.com/qmk/qmk_firmware/blob

[2018-12-17 23:05] AlmondWhite commented on #201
Any update to this? Still receiving the same error code and unable to compile

[2018-12-24 14:50] ffinkdevs opened #228 "default keybindings seem to be broken for redox"
when i load the default keymap in the qmk configurator and compile it and flash it via qmk toolbox, all keys on the redox are wrong, but when i download  the default keymap from the qmk toolbox and flash that, its normal

[2018-12-24 14:54] ffinkdevs commented on #228
![image](https://user-images.githubusercontent.com/45924649/50402094-1fb4af00-0794-11e9-9d82-c7b19f448ec8.png)
there also seems to be a big file size difference between the default in qmk toolbox and the default in qmk configurator

[2018-12-24 17:19] yanfali commented on #228
@mattdibi can you take a look please? I believe you provided the default map. @ffinkdevs I don't have a redox so I can verify this myself, but I'll ask on the QMK discord and get back to you. Binary sizes look comparable and can be explained by compiler version differences.

[2018-12-24 20:02] noroadsleft commented on #228
I think this might be my fault. I added the Configurator visual support for the Redox about six months ago, but looking at it now, I think some of the keys are out-of-sequence.

[2018-12-24 22:00] noroadsleft commented on #228
@ffinkdevs

When the above PR is merged, your issue should mostly go away. I say "mostly" because in the process of building the above fix, I discovered that the keymap that loads in Configurator when you hit the Load Default button doesn't match the default keymap that's in the [qmk_firmware repo](/qmk/qmk_firmware/tree/master/keyboards/redox/keymap/default/keymap.c).

I also don't remember where

[2018-12-25 03:25] drashna opened #229 "Feature: Non--US Keyboard support"
Specifically, something that we could toggle to enable non-US layouts, like we do with the `keymap_extras` folder in QMK Firmware.

That way, for non-US English users, it's more obvious what should go where.

[2018-12-25 08:10] mattdibi commented on #228
Hi, sorry for the late response.

@noroadsleft As you said the default keymap that loads the configurator doesn't match the default keymap of the qmk repo because a few, more convoluted, key-bindings were missing (namely the `LT()` macro). I had to adapt the keymap a little.

P.s. Happy holidays!

[2018-12-25 08:32] noroadsleft commented on #228
@mattdibi For the record, `LT()` is supported. Configurator will detect it as an `ANY` key. Also, the layer for the hold action has to be numeric -- `LT(1, KC_HOME)` as opposed to `LT(_NAV, KC_HOME)`.

[2018-12-25 09:04] mattdibi commented on #228
@noroadsleft Thanks for the info, I'll update the keymap when I have some time.

[2018-12-25 16:44] ffinkdevs commented on #228
https://config.qmk.fm/#/redox/rev1/LAYOUT
still seems to be broken

[2018-12-25 17:19] ffinkdevs commented on #228
[code]
its wrong between kc_5 and kc_6

according to https://github.com/qmk/qmk_firmware/blob/master/keyboards/redox/keymaps/default/keymap.c
the layer1 and layer2 keys have to be in the row below

[2018-12-25 19:57] noroadsleft commented on #228
@skullydazed kicked the update bot (Lord, bless him), so once &uarr; that &uarr; PR gets merged this should be fixed. (IIRC, changes to qmk_configurator/keymaps update in real time, and it's just changes in qmk_firmware that are glitchy.)

[2018-12-25 22:45] ffinkdevs commented on #228
assuming it has been integrated,
left side of the keyboard the keys are now correct, right side is "completly" broken
some keys do:
"'-098"
"=po"
"';l"
"uz]uz"
"jh"
"mn"
the rest either does nothing or i havent figured out which keys they press atm

[2018-12-25 22:55] yanfali commented on #228
Honestly the only person who can fix this is someone with the keyboard

On Tue, Dec 25, 2018, 14:45 Fabian Fink <notifications@github.com> wrote:

[2018-12-26 10:04] gallexme commented on #228
@mattdibi after a long troubleshooting session discord yesterday, it was because I haven't flashed both side of the keyboards(was nowhere documented), now it works

[2018-12-26 14:53] #228 closed

[2019-01-14 22:56] skullydazed opened #232 "Download improvements"
We had an issue today where S3 decided to set the timeout for download keys to a very low or invalid value. When users encountered this error their browser page would change, losing configurator state.

One possible solution is to open downloads in a new tab. Experimentation with chrome shows that it will immediately close the tab if the file is a download.

[2019-01-14 23:34] yanfali commented on #232
The only real problem is that it seems to trigger a pop up blocker. Hopefully this won't be the case when the API is working properly. I think for a binary stream the behavior is simply to save a file, so this is likely an issue where it's really content only. It's still better than losing their entire state.

[2019-01-21 06:36] JonasWechsler opened #236 "Add KC_LOCK support by adding KEY_LOCK_ENABLE = yes to rules.mk"
I'd like to be able to map KC_LOCK with QMK Configurator. I can add the key with the "any" key, but it doesn't set the appropriate flag in rules.mk, so it doesn't compile.

[2019-01-21 06:50] yanfali commented on #236
Yup, sorry we don't support this quite yet. API support for setting flags is a work in progress.

[2019-01-23 15:30] gwerbin commented on #148
Confirmed that toolbox is unusable on IE 11. [Screenshot](https://i.imgur.com/jDTDAiz.png).

[2019-01-23 16:03] yanfali commented on #148
Thanks for confirming

[2019-01-26 11:20] germ opened #240 "Per Keyboard Keycode Sections"
Now that the keyboard overlay scrolls nicely I think we can explore enabling/disabling various key sections on a per keyboard basis. I'm thinking since the keycodes are nicely organized in the docs as it is, perhaps those can be the main sections.

I propose a extra field added to info.json for any arguments passed off to config. This way existing boards are backwards compatible. For keycodes this

[2019-01-26 21:03] yanfali commented on #240
@germ let me talk with some of the other QMK folks. It's probably going to take a few days to get our thoughts organized and then we'll get back to you. Thanks, this is a pretty good idea, just not sure this is quite the right form for it.

[2019-02-04 23:34] dtanner commented on #117
FWIW the `ANY` config worked fine for me using as an example `LT(1,KC_ESCAPE)`.
Maybe it's been fixed since the above error was noted.

[2019-02-04 23:58] yanfali commented on #117
Thanks for confirming

[2019-02-08 07:40] yanfali commented on #224
@link6155 any updates, or should we close this?

[2019-02-11 17:40] yanfali commented on #213
With new configurator version, this issue should now be resolved.

[2019-02-11 17:40] #213 closed

[2019-02-11 17:41] yanfali commented on #194
This should be resolved now by the addition of large tooltips.

[2019-02-11 17:41] #194 closed

[2019-02-11 17:42] yanfali commented on #229
Sorry, can you give me some examples of how that would work?

[2019-02-11 17:42] yanfali commented on #224
@link6155 feel free to re-open, but we're going to close this for now.

[2019-02-11 17:42] #224 closed

[2019-02-11 20:51] brennansang opened #247 "Error when compiling Preonic/rev3 1x2uC"
Hi there, when using config.qmk.fm, I get the following error whenever trying to compile for the preonic/rev3 1x2uC. I've tried compiling the default with no changes and get the same error.

Please find the log below, and thanks for your great work on this!

`Preonic
===

![Preonic](http://i.imgur.com/EDWQbB0.jpg)

A compact 50% (12x5) ortholinear keyboard kit made and sold by OLKB and Massdrop. [

[2019-02-11 22:53] yanfali commented on #247
Thank you for report. It should be fixed by this commit. 50eb6188ad6b1de11a443448bcd5515f87aef880 You will probably have to recreate your keymap by loading default again and customizing it.

[2019-02-11 22:53] #247 closed

[2019-02-11 22:53] yanfali commented on #247
@noroadsleft thanks for help

[2019-02-12 16:00] yanfali commented on #7
Done I believe

[2019-02-12 16:00] #7 closed

[2019-02-17 09:15] yanfali opened #253 "API behavior has changed on error"
![image](https://user-images.githubusercontent.com/2275667/52910778-3c7bd900-3251-11e9-8226-301391c58095.png)

https://cdn.discordapp.com/attachments/440875445911683084/546563933616472083/basic_dz60.json

Change the UI code to check is_failed before enabling download firmware button. The keymap and source downloads should be enabled though for diagnostic reasons. Just check that the firmware url i

[2019-02-17 09:16] yanfali commented on #253
[keymap-dz60-basic_dz60.zip](https://github.com/qmk/qmk_configurator/files/2872789/keymap-dz60-basic_dz60.zip)
Example of JSON file that triggers an error on API

[2019-02-20 19:29] BlueNalgene opened #255 "Frontend needs a way to remove layers after they are generated"
When using, I was typing in the MO box that a key should be for layer 1.  I did not highlight the 0 at first, so it thought I wanted layer 10, and it dutifully enabled it for me.  After changing it back to 1, the layer for 10 was still visible.  Although there were no keycodes mapped to that layer.

This caused compilation failure.  The code decided that since I included layer 0, 1, 2, and "10", t

[2019-02-20 20:55] yanfali commented on #255
Thank you so much for filing this issue. This is definitely a problem and I am planning on tackling on that next, after I get LT support shipped out. There are a couple of ways to fix this, one is to simply generate empty layers between. I'm probably going to do that anyway, as the backend API seems to be generating empty layers when it shouldn't be. @skullydazed may have more insight.

The other

[2019-02-20 20:55] yanfali commented on #253
should be resolved now. Closing

[2019-02-20 20:55] #253 closed

[2019-02-20 20:56] yanfali commented on #240
@skullydazed how would you like to tackle adding extra flags to info.json?

[2019-02-20 20:58] yanfali commented on #188
@tobster-de good suggestion, but I have a more UI friendly idea in mind. This is one of my next tasks.

[2019-02-20 21:00] yanfali commented on #255
Related to #188

[2019-02-20 22:46] BlueNalgene commented on #255
Is there any reason not to generate all of the possible layers, even if they are not being used?  If I remember my TMK code, the number of layers is capped at a finite number.  You do not save much room by omitting them.  Even then, the compiler probably ignores the transparent keys.  The only advantage is readability, which is presumably less of an issue for people using a script generator.

[2019-02-20 22:58] yanfali commented on #255
Mostly that it's a regression in the API and not an actual feature. Compiling empty layers takes up precious flash space, and on AVR platforms that can be in short supply.

[2019-02-24 12:19] i5ar opened #260 "Key shape simplified"
I have a few suggestions regarding the key shape as defined in the [docs](https://github.com/qmk/qmk_firmware/blob/bcb18154206332c85e500ef65bffa98be6ac1cb7/docs/reference_info_json.md).

1. As you can see the first [x, y] coordinate is always equal to the last one so my first suggestion is to define the key shape as a polygon and not as a polyline so the last [x, y] coordinate can be removed;
2. I

[2019-02-24 17:26] yanfali commented on #260
Great suggestions. So right now everything is defined as divs to facilitate drag and drop. I did experiment with svg here

https://yanfali.github.io/keycodes/

The issue being interaction with canvas vs DOM. They don't really mix all that nicely. I need to revisit the rendering algorithm using svg elements rendered inside DOM.

The coordinate system is actually in key units and is converted to pix

[2019-02-24 17:35] yanfali commented on #260
Please check out the discussion https://github.com/qmk/qmk_firmware/issues/2621#issuecomment-388484391 and feel free to contribute your feedback. Info.json is definitely going to evolve. It's not just used for rendering though. It's part of the API interaction between UI and qmk

[2019-02-24 19:47] yanfali opened #261 "Continuous type mode"
During beta jetpack and others requested a continuous input mode that didn't require mouse clicks. Effectively once in this mode the UI would continue to accept input and keep moving to the next key.

[2019-02-24 19:49] yanfali opened #262 "Developer: Load Default Keymap during Info.JSON Preview"
@TerryMathews requested a feature where one could test default keymaps while in info.json preview mode. This requires popping a new dialog while in info.json and accepting an upload.

[2019-02-24 19:50] yanfali opened #263 "Bug: uploading keymaps is inconsistent"
Something regressed, and clicking upload keymaps multiple times doesn't always work.  I think it's because it's not always re-created but is a member of the DOM. Needs revisiting.

[2019-02-24 19:54] yanfali commented on #151
I think we have this now. Closing

[2019-02-24 19:54] #151 closed

[2019-02-24 19:55] yanfali commented on #148
Someone offered to work on this on discord, but haven't heard back since.

[2019-02-24 19:57] yanfali commented on #117
Half of this is now available via LT 971dee0f8200e2bfde5f595a5599aff3246d1927, are people still looking for LM support?

[2019-02-24 19:58] i5ar commented on #260
That's perfect. In my suggestion I only changed the structure of the array and the position of the relative origin from here:

[code]
to here:
[code]

I'm building something but I haven't tried to support rotation yet. If I have time, I'll try to implement something this night, just to make sure this approach works nicely with more complex layouts.

[2019-02-24 19:59] yanfali commented on #73
This should be working now.

[2019-02-24 19:59] #73 closed

[2019-02-24 19:59] yanfali commented on #69
I think we'll wait for the UI redesign. We can move this into a tab

[2019-02-24 19:59] #69 closed

[2019-02-24 20:09] yanfali commented on #9
I actually looked into invoking QMK toolbox from a URL and it kinds of works from OSX. The problem is we can't get access to the actual bin/hex file because of a redirect. @skullydazed said he would look into adding an API to get it dynamically.

[2019-02-24 20:10] yanfali commented on #2
@mechmerlin you owe me a translation file for chinese. on branch yanfali:yanfali-i18n

[2019-02-24 20:24] yanfali commented on #260
Very neat. @harshitgoel was experimenting with that a month or so ago, but I think he got busy. Where to do the rotation is a matter of contention. KLE is our reference implementation as they do currently support rotation and one of the sources of layout information is KLE. One key feature or our current implementation is drag-n-drop so it's important to not pick technologies that prevent that mod

[2019-02-25 13:14] i5ar commented on #260
I wouldn't use KLE as reference for `rx` and `ry`.
Rotation `r` works fine but `rx` and `ry` have some strange behavior.
When `rx` is defined `x` decrease the same value and the value in the *Raw data* tab is different from the value in the *Properties* tab.

You can always import data from KLE and fix this issue on your side so the API can serve the correct values for `x` and `y`.

KLE data:
[cod

[2019-02-26 14:59] i5ar commented on #260
I investigated a little more into the KLE [docs](https://github.com/ijprest/keyboard-layout-editor/wiki/Serialized-Data-Format) and I can confirm that KLE is using the same origin I proposed for oddly-shaped keys, as you can see [here](http://www.keyboard-layout-editor.com/##@@_w:1.25&h:2&w2:1.5&h2:1&x2:-0.25%3B&=Enter).

Basically this one:
[code]

[2019-02-26 15:38] skullydazed commented on #260
`x` and `y` in KLE is a different concept. In KLE `x` and `y` default to 1 and 0 respectively and represent the offset from the previous key. In QMK those are an absolute coordinate. Statelessness is a key feature of our format, and is what drives most of our deviations from KLE. As such you can't compare them [this way](https://github.com/qmk/qmk_configurator/issues/260#issuecomment-467006479).

[2019-02-26 15:43] yanfali commented on #260
I actually think there's a way to do an ISO key using pure CSS using :after and :before selectors, I just haven't time to look into it.

[2019-02-26 15:49] yanfali commented on #260
@i5ar if you'd like to look at doing ISO key support in pure CSS I would be most appreciative

[2019-02-26 20:33] i5ar commented on #260
@skullydazed I realized that today as I found the docs of KLE in the Wiki. As a matter of fact, I had a hard time explaining how I made the rotation works when using `rx` and `ry` (the example is above).

:smile: Exactly!

About collapsing point pairs into a single list:
- Even indexes are `x` values, odd indexes are `y` values, so it's still pretty easy to work with;
- The array is smaller;
- Mos

[2019-02-26 21:35] i5ar commented on #260
@yanfali This should work.

[code]
Of course, you need to scale the pixels accordingly with the configurator.

[2019-02-26 22:08] yanfali commented on #260
Awesome, thanks. I'll take a look when I get a chance. I may be a few days.

[2019-02-26 23:20] mechmerlin opened #265 "Bug: Right Alt/Win registers as their left equivalents when "typing" to create your keymap"
Reported by Poesjuh, apparently when you press the Right Alt key on your keyboard to create your keymap on, it registers it as a KC_LALT instead. The same happens when using Right GUI key.

[2019-02-27 01:21] yanfali commented on #265
Unfortunately it's not a bug. Browsers can't differentiate between left and right mods.

[2019-02-27 01:21] #265 closed

[2019-03-09 00:10] crawfxrd opened #271 "colorway contrast makes key combination contents hard to read"
When using e.g. the Space Cadet colorway, the contrast for Quantum "Mod key combinations" makes it very hard to read.

This is what I see:
[code]

![qmk_configurator_contrast](https://user-images.githubusercontent.com/5222085/54062653-5c117c00-41d5-11e9-9bea-886a25a2db98.png)

[2019-03-09 00:27] yanfali commented on #271
yep, I know what it is, I've been applying fixes to other colorways. Thanks for reporting.

[2019-03-11 06:24] yanfali commented on #271
@crawfxrd can you verify it's fixed for this colorway?

[2019-03-11 06:25] yanfali commented on #263
@noroadsleft seems to think it's a chrome specific bug that may be fixed in a more recent build. It certainly doesn't seem to affect firefox

[2019-03-11 06:26] yanfali opened #274 "Loading Keymap.json doesn't update status window"
Reported by @noroadsleft when loading a keymap.json the status window isn't getting updated with the README or any stats on loading the keymap

[2019-03-11 11:51] crawfxrd commented on #271
Confirmed. The contrast for Space Cadet is fine now.

[2019-03-12 01:19] yanfali commented on #271
Ok, thank you.

[2019-03-12 01:19] #271 closed

[2019-03-12 17:29] yanfali commented on #274
fixed

[2019-03-12 17:29] #274 closed

[2019-03-16 16:46] yanfali commented on #263
This seems to have been a chrome bug. Closing

[2019-03-16 16:46] #263 closed

[2019-03-16 16:48] yanfali opened #282 "warning for layer keys"
Warn user in keycode UI that layer keys overwrite the layer ppl position above to avoid locked layers.

[2019-03-16 22:32] yanfali opened #284 "fix LT keys to set key above to TRNS to be consistent"
All other Layer keys set the key above to KC_TRNS, we should probably do the same for consistency.

[2019-03-17 22:14] 1hella opened #287 "Suggestion: new layers should only be saved if something is added to it"
I had the problem of a bunch of empty layers being created by clicking on them, which in my case gave an error during compilation.

I think just clicking a layer shouldn't save it. I suggest that if somebody clicks on a new layer, it should only be saved after a key is changed on it. In other words, when clicking away from a layer, if every key code is KC_NO, delete it.

Alternatively, having a bu

[2019-03-17 22:39] yanfali commented on #287
Yep thanks for raising issue. It's been on my list to add layer editing for a while so I will be working on this in the future.

[2019-03-22 07:52] #282 closed

[2019-03-22 07:54] yanfali commented on #192
Resolved by 5b073c584f37fd4df62a5de27d0211429ca1e66d

[2019-03-22 07:54] #192 closed

[2019-03-25 02:22] i5ar opened #298 "Support number pad and function keys"
A few suggestions:
- Support number pad keys using `event.location` as you already did with left/right modifiers https://github.com/qmk/qmk_configurator/commit/55f6df70bea9ef7a7a5dc1165d73a7966cd4adca.
- Support function keys:
  - Add the `event.key` value to `/modules/keycodes/ansi.js` (e.g.  `keys: "F1"`);
  - Intercept the browser function keys (i.e. https://keycode.info).

Thank you.

[2019-03-30 01:37] yanfali opened #299 "set iso tab as default when detecting browser lang"
when the browser lang is not en_US make the ISO tab the default

[2019-04-04 06:29] i5ar commented on #298
To disable browser-specific shortcuts (e.g. `F5`) the `event.preventDefault()` in the key down handler should be enough. If the handler is inside the keyboard component, it'll work only when the focus is on the selected key and we can still use browser-specific shortcuts when the focus is elsewhere.

Regarding the support for number pad keys, it's slightly more complicated and it may require to ch

[2019-04-04 06:46] yanfali commented on #298
I kind of agree on the keypresses, that can probably be made to work. I think numpad can just work using location so your idea is probably unnecessary. I look forward to your PR.

[2019-04-04 12:34] i5ar commented on #298
I think `keys` should be an array because "NumLock" can be toggled: The `event.key` can be either "Insert" or "0", "End" or "1" and so on.

Of course you can do the other way around if you map elsewhere "Insert" to "0", "End" to "1", etc.

[2019-04-04 15:00] yanfali commented on #298
I need to test this, but the idea is if you get a 0 and the location is numpad it is on. You wouldn't get a zero otherwise, you would get an insert. We bind to the output, not the keycode because that's what keypress.js cares about.

[2019-04-05 04:45] i5ar commented on #298
In another project, the structure I suggested above let me easily handle any kind of keypress (numpad, caps, modifiers) while keeping the logic slim without using 3rd-party libraries.
I just wanted to point that out. After all, "KC_A" can be either "a" or "A" at the same location so it makes sense for `keys` being an array.

Your approach requires fewer changes and I'm sure it works well too.

[2019-04-05 04:49] yanfali commented on #298
Actually that's not true. The os only received a single code. It's affected by the state of caps lock.

[2019-04-05 10:42] i5ar commented on #298
I was not talking about the os. I was talking about the `event.key`, documented [here](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key), that you need to handle to set the appropriate "KC_*".
You want both `key='A'` and `key='a'` to target "KC_A". The library that you are using seems to solve already this problem for the alphanumeric keys but not for all the keys.
As I said, you

[2019-04-05 15:30] yanfali commented on #298
Fair. Thanks for the input.

[2019-04-08 01:48] yanfali commented on #287
@1hella give the latest configurator a try. It should be working the way you expect. Thanks for the suggestion. We also support sparse layers, but the downside is the keymap generated will be larger, so this may cause problems for some keyboards.

[2019-04-08 01:48] #287 closed

[2019-04-08 01:51] yanfali commented on #255
@BlueNalgene good news, we have just implemented #287 and this should handle most of your issues. You can effectively now delete a layer by remove the keys. We insert dummy KC_TRNS layers if you choose to create a sparse layer keymap. The downside is you will have a larger binary and on some keyboards which are tight on space it may generate a hex file that is too large. Feel free to re-open this

[2019-04-08 01:51] #255 closed

[2019-04-08 01:54] yanfali commented on #32
This should be fixed by 5522237d1f32ad47214d1abfb8fc80ba133c0e96

[2019-04-08 01:54] #32 closed

[2019-04-08 01:55] yanfali commented on #3
This should be fixed with the current configurator. Thanks for reporting.

[2019-04-08 01:55] #3 closed

[2019-04-08 02:17] yanfali commented on #260
@i5ar I gave it a shot, but it didn't really work. I'm thinking that we may need to use 3 divs to represent this one key with the appropriate coloring and styling.

[2019-04-08 04:27] i5ar commented on #260
@yanfali This is how much further I could go https://jsfiddle.net/yzq2m6pc/3/ from here https://jsfiddle.net/zqg78yeb/

[2019-04-16 01:15] yanfali commented on #261
Closed  by 3b5f635

[2019-04-16 01:15] #261 closed

[2019-04-17 19:53] i5ar opened #310 "Key rotation"
The QMK Firmware repository have a keyboard defining rotations (https://github.com/qmk/qmk_firmware/blob/master/keyboards/signum/3_0/elitec/info.json) but they don't seem to be correct (https://i5ar.github.io/yake/#/signum/3_0/elitec). I implemented rotations (`r`, `rx` and `ry`) the same way KLE does (which is the same way SVG does and probably other libraries too).
I can make a PR to fix the rot

[2019-04-17 20:39] yanfali commented on #310
Yeah go ahead if it's not correct compared to others. We're not using rotation right now.

[2019-04-18 03:22] minjaesong opened #311 "Potato facts: Solanaceous to Solanaceae"
"Solanaceous" is an adjective; if you want to say the "Nightshade Family", your correct scientific word is "Solanaceae Family"

If you look at the [Wikipedia article](https://en.wikipedia.org/wiki/Solanaceae), they use "solanaceae" a lot, but "solanaceous" only occurs once (solanaceous flowers).

[2019-04-18 03:29] yanfali commented on #311
Thanks. Want to submit a PR to fix it?

[2019-04-18 06:59] #311 closed

[2019-04-18 16:34] PhoenSXar commented on #117
I'm still looking for LM support.I use dvorak layout and I create a map from dvorak to qwerty in a layer.
LM(mapLayer, ctrl) is so much convenient to use all keyboard shortcut.

[2019-04-18 17:28] yanfali commented on #117
@PhoenSXar hi there. This is a pretty tricky feature to implement in the UI because it's combinatorial. I have some ideas on how to do it, but it would require quite a lot of effort for something I'm not sure is used that frequently. I'll keep thinking about it though.

e.g. `LM(4, MOD_LCTRL | MOD_LSFT)`

My recommendation at this time is use the ANY keycode and just input what you need.

[2019-04-19 04:43] PhoenSXar commented on #117
@yanfali Thanks, I will use the ANY keycode to make it work. As I examine this repo in greater detail, maybe I will submit a PR that time. By then, let's thinking about it :).

[2019-04-19 13:13] MxBlu opened #314 "Volume control keys not working"
On the Skog keyboard, I tried to use VOL_UP, VOL_DN and MUTE but they weren't working in the compiled firmware. Downloading the source file shows that they were translated to "KC__VOLUP", "KC__VOLDOWN" and "KC__MUTE".

[2019-04-19 13:18] #314 closed

[2019-04-19 13:18] MxBlu commented on #314
Looks like I accidentally clicked on the MacOS keycodes. Oops...

[2019-04-23 12:58] yourfate opened #319 "Feature: generate printable layout overview"
The configurator can already display all the layer keymaps. Would be cool if there was a button to download a PDF where all the layers are displayed. Great for pinning next to your screen to learn your new layout / look up rarely used keys on obscure layers. Right now I create this myself by screenshotting the different layers...

[2019-04-23 13:13] yourfate opened #320 "Feature: allow download of keymap.c without compiling"
Background: I use the configurator to generate keymaps, but I have to compile locally because I need to change some stuff in `rules.mk` and `config.h` (right hand master, backlight etc).

Right now I have to wait for the compilation every time I want to create a new `keymap.c`, but that should be possible without actually compiling I think?

[2019-04-23 16:38] yanfali commented on #319
We've actually discussed this in the past. Now that we just added i18n I think we think about adding this. I would need to generalize the visual rendering component a bit more as right now it's tied to the needs of interactive UI. It would probably be easier to create a stripped down base rendering component that was shared. Probably won't do a PDF, but a simple HTML page with a printer style shee

[2019-04-23 16:39] yanfali commented on #320
Yeah we've talked about this limitation in the past. It's actually a limitation of the current API, and @skullydazed  thinks it would be perfectly possible to support this operation. He also wants to do a CLI version though where you can just hit the API and request it.

[2019-04-26 18:56] yanfali opened #322 "Use mapState instead of mapGetters"
Best practices have changed, and mapState results in simpler code to maintain.

https://codeburst.io/vuex-getters-are-great-but-dont-overuse-them-9c946689b414

Use getters for things that require logic and caching rather than simply returning state.

[2019-04-30 20:45] yanfali opened #329 "prevent people using more than additional 15 layers"
Don't allow a user to input more than 15 layers

[2019-04-30 20:47] noroadsleft commented on #329
More than 16* layers (index 15).

[2019-04-30 20:48] yanfali commented on #329
0 is always defined. So 15 is the maximum you can define

[2019-05-04 18:09] yanfali opened #331 "white list characters in keymap name"
To prevent compilation errors for special characters

[2019-05-10 04:00] yanfali opened #342 "built in keycode tester"
use something like the at101 blackheart layout and a fixed keymap. As keypresses come in, animate the key that was activated. And change it's color ala EKSH. Allow reset. display whatever raw info we have below from browser.

[2019-05-10 04:00] yanfali commented on #329
Should be resolved now for built in keycodes. People can still abuse the ANY keycode, but it's not worth trying to fix that.

[2019-05-10 04:00] #329 closed

[2019-05-10 04:01] #331 closed

[2019-05-10 04:01] yanfali commented on #319
There's a branch where I work on this as time permits.

[2019-05-23 01:01] #322 closed

[2019-05-23 01:01] #319 closed

[2019-05-23 01:02] yanfali opened #361 "Load keymap.JSON from URL"
point it at a raw git URL and have it make a JSON request for the data, not sure it'll run afoul of CORS or not.

[2019-05-23 15:15] heieisch commented on #229
I looked into the  >iso-jis.js   File and modified a version for German Keybords.
For testing and strange situations it wold be super cool if we coud upload a .json File in the same stucture as the .js Files are now
In the Future ther coud be an dropdown menu like the keybord seleklektion for custom buttons

[2019-05-23 16:39] yanfali commented on #2
Plumbing implemented.

[2019-05-23 16:39] #2 closed

[2019-05-23 18:42] noroadsleft opened #364 "Going to Print Mode and back after compiling disables firmware and source download buttons."
Steps to reproduce:

1. Create a keymap and compile it. Wait for the compile task to complete. Don't download anything yet.
2. Click `Print Keymap`.
3. Click `< Back`.

The `Keymap Only`, `Full Source`, and `Firmware` download buttons will all be disabled.

[2019-05-23 18:58] yanfali commented on #229
@heieisch hi, so this feature request isn't quite what you are requesting. Drashna is looking for API support to include non-us layouts support in QMK header files, which is something we don't support through the API yet. If you want a german ISO layout in the tabs, we could look into that. Attach your copy to this issue. I think a drop down would probably work, where we let you switch between JIS

[2019-05-23 19:01] yanfali commented on #229
@heieisch I would recommend you check out a copy of the repo and install a development environment. then you can do development directly.

[2019-05-23 20:50] heieisch commented on #229
I think a drop-down menu would be better due to the fact that many German Programmers code on us layout.

I`m not really good at coding... but I will try my best
is there a guide to set up the development environment for the qmk Configurator?

If there are language files(configuration Files where there is the English version on one side and the translation next to it or something similar), I am go

[2019-05-23 21:18] heieisch commented on #229
[din.zip](https://github.com/qmk/qmk_configurator/files/3214204/din.zip)

[2019-05-23 21:46] heieisch commented on #229
I checked this configuration for the last hour and am fairly confident that it might work.
[din.zip](https://github.com/qmk/qmk_configurator/files/3214273/din.zip)

[2019-05-23 22:07] yanfali commented on #229
@heieisch Hi! Vielen Dank. So, take a look at this commit https://github.com/qmk/qmk_configurator/commit/f033283a1deaabf77446d090b832dba039acd9b8 This was the translation done very generously by @gab-a  and is a good overview of what is required. It's mostly taking the en.js JSON code and translating the labels into German. If you feel up to the task, we would love a contribution.

Anything you do

[2019-05-23 22:28] yanfali commented on #229
This is going to need some more work, as right now it can't differentiate in the rendering code between special characters. I'll create a branch

[2019-05-23 22:33] yanfali commented on #229
https://github.com/yanfali/qmk_configurator/commit/2bf09c5a97b910c0464c7b12b3feb3baccb4d6ce

[2019-05-24 20:37] yanfali opened #368 "add i18n to Print view"
i18n was not done for the Print.vue route

[2019-05-24 20:39] yanfali opened #369 "i18n for keycode UI"
needs an i18n scheme for the keycodes labels, help text and warnings

[2019-05-25 17:59] yanfali opened #373 "figure out if we can change model to only register mod key presses on key up"
The reason for doing this is to allow for shifted code input. So all the shifted codes on the number row can actually be input in the UI via the keyboard

[2019-05-25 18:03] yanfali commented on #373
This actually seems to work. I will wait for numpad work to be completed
[code]

[2019-05-25 18:49] #298 closed

[2019-05-27 20:58] Sushiimi opened #376 "Character being dropped from keymap on compile (online configurator)"
Was compiling my firmware using the online configurator and it seems as though a character is being dropped from the keymap for some reason causing the compilation to fail. However, the downloaded layout JSON file does not have that removed character. Have not tested this with out boards or layouts for the same PCB but can help in doing so if need be! Let me know if there is anything I can do to h

[2019-05-27 22:02] noroadsleft commented on #376
Nice find!

This is an error in the codebase; you did nothing wrong.

https://github.com/qmk/qmk_firmware/blob/6c7c178cd2b9d535e76a0cd9dd3d1293b8ba1ed2/keyboards/waldo/waldo.h#L32

I'll open a pull request; it's literally a one-character fix.

[2019-05-27 23:27] Sushiimi commented on #376
Yup, that is what I figured! Feel free to ping me to test it when the changes are live and I can report back 😄

[2019-05-28 15:54] daenorks opened #377 "add options for config.h"
Hello, i would like to know if it was possible to add the possibility to customize the config.h file and is parameters in an option window or something... in particular ignore mod tap interrupt hehe
https://beta.docs.qmk.fm/reference/config_options

And is it possible to make a donation ?
thx for everything you have done so far :+1:

[2019-05-28 16:44] noroadsleft commented on #376
@Sushiimi This should be fixed now.

[2019-05-28 17:26] noroadsleft commented on #377
Hello,

Editing `config.h` isn't currently possible in the Configurator, because the API that supports its back end doesn't have any endpoints for doing so at this time.

As for supporting, the ways you can support QMK are listed at https://qmk.fm/support/.

Thanks!

[2019-05-28 17:53] Sushiimi commented on #376
@noroadsleft Yup, all working now! :+1: Appreciate it!

[2019-05-28 17:56] noroadsleft commented on #376
Thanks for the report!

[2019-05-28 17:56] #376 closed

[2019-05-28 20:33] yanfali commented on #377
@skullydazed fyi

[2019-05-31 04:32] vanhtuan0409 opened #378 "Cannot set kc for LT function"
Hi team, I appreciate your work here. But how can I specify the `kc` for LT function?
As right now, I can bind LT3 function to a key but `kc` value is always `N/A`

[2019-05-31 05:00] yanfali commented on #378
Yeah sorry, you have to drag a code from keycodes onto the UI. I will work on making this better.

[2019-05-31 05:01] vanhtuan0409 commented on #378
oh tks you for the tip :D
I have no problem with dragging. Maybe we can just document it somewhere for a new user like me

[2019-05-31 05:02] yanfali commented on #378
You are totally correct. I think we need an onscreen tip. I will try to think something up.

[2019-05-31 05:08] #378 closed

[2019-05-31 05:09] yanfali opened #379 "Add a tooltip on LT and friends that drag is required"
Issue #378, this problem has been reported twice now.

[2019-05-31 06:59] bengine opened #380 "Generated .bin file for Instant60 cause the keyboard to be unresponsive"
Using QMK Configurator to compile and generate .bin file for Instant60.

However, the generated bin file caused the keyboard to be unresponsive once the keyboard is flashed with it.

I do not encountered such issue when I compile the .bin file locally.

I also noticed that the .bin file generated by QMK Configurator to be 1kb bigger than local compile.

[INSTANT60.zip](https://github.com/qmk/qmk_c

[2019-05-31 07:09] bengine commented on #380
I also tried the .bin file from the https://qmk.fm/keyboards/. It also DOES NOT work.

[2019-05-31 07:41] drashna commented on #380
For reference:

Travis CI (which compiles the image at qmk.fm/keyboards) uses arm-none-eabi-gcc version 4.9.2.

[2019-05-31 07:43] bengine commented on #380
I'm using arm-none-eabi-gcc version 6.3.1 locally.

[2019-05-31 14:20] yanfali commented on #380
@bengine thanks for doing this, we'll look into getting the compilers upgraded and ping you when we have a fix. ARM is the future of QMK so we're motivated to fix this too.

[2019-06-02 01:43] yanfali commented on #379
Went a slightly different direction with this https://github.com/qmk/qmk_configurator/pull/382

[2019-06-02 01:45] yanfali commented on #380
We're working on a fix here https://github.com/qmk/qmk_firmware/pull/6043

[2019-06-02 22:23] zekth commented on #232
Why not using `window.open('url')` on the click? It will not be blocked if the opening is triggered by a user action.

[2019-06-02 22:26] zekth commented on #148
Is a banner at the top of the webapp good for Warn the user? i can adress that.

[2019-06-03 00:40] yanfali commented on #148
Yeah that could work

On Sun, Jun 2, 2019, 15:26 Vincent LE GOFF <notifications@github.com> wrote:

[2019-06-03 05:32] yanfali commented on #373
Resolved by 472b910baaa9fb0fa5ab22d1c0380d66fec01e54

[2019-06-03 05:32] #373 closed

[2019-06-03 16:22] #368 closed

[2019-06-03 17:10] #299 closed

[2019-06-04 04:00] #148 closed

[2019-06-04 04:04] #221 closed

[2019-06-04 04:10] yanfali commented on #379
Fixed.

[2019-06-04 04:10] #379 closed

[2019-06-06 21:52] yanfali commented on #380
Should be fixed now, on both qmk.fm/keyboards and configurator. Thanks for your patience.

[2019-06-06 21:52] #380 closed

[2019-06-06 21:53] yanfali commented on #369
done

[2019-06-06 21:53] #369 closed

[2019-06-06 21:56] #342 closed

[2019-06-08 05:47] yanfali opened #404 "Don't track keyup for capslock"
The OS doesn't ever seem to send a keyup for capslock. so just register that it was hit and don't try and track it ever going up.

[2019-06-09 20:28] #361 closed

[2019-06-10 09:09] zekth opened #405 "[chore] Style refactoring"
In the projects styles are a bit mixed, a bit too much. There is:
- ./public/style.css
- ./src/scss/*.scss
- non scoped style in components

To be more consistent i think it's better to write everything non scoped in `./src/scss/*.scss` and scoped in the components itself.

I can tackle this. Your thoughts?

[2019-06-10 10:14] zekth commented on #404
Can't reproduce on W10.

[2019-06-10 14:57] yanfali commented on #404
Good to know, must be an osx thing

[2019-06-10 14:58] yanfali commented on #404
Oh, my caps key is on a layer...

[2019-06-11 08:06] zekth commented on #404
this issue can be closed so?

[2019-06-11 11:59] zekth opened #407 "[bug] Layer crash"
Clicking twice on an empty layer make the component disappears and crash.

[2019-06-11 15:42] yanfali commented on #407
Nice catch!

[2019-06-11 15:44] #407 closed

[2019-06-11 15:45] yanfali commented on #404
I don't know. It's kind of annoying on mac, but I'm not a big caps lock user :D

[2019-06-11 16:00] zekth commented on #404
Will test on my rotten apple env.

[2019-06-12 21:54] zekth commented on #404
This is related to MacOs. Activating CapsLock sends a key-down, deactivating it sends a key-up.

[2019-06-13 00:24] yanfali commented on #404
crazy right? should we just ignore it?

On Wed, Jun 12, 2019 at 2:54 PM Vincent LE GOFF <notifications@github.com>
wrote:

--
"We do not learn so much by our successes as we learn by failures -- our
own and others'.  Especially if we see the failures properly corrected."
-- Frank Lloyd Wright

[2019-06-15 13:49] zekth commented on #404
I'd personnaly ignore it. But is it worth it to detect key-up / Key-down? Maybe just refactor it to key-event and make a fallback for this special case?

[2019-06-19 22:16] cscheib opened #413 "Allow environment variable override for backend_baseurl"
it's OK that we hardcode backend_baseurl as a constant, but we need a way to override it during development without having to manually edit the config file.

This will be particularly useful for the docker-compose web stack at https://github.com/qmk/qmk_web_stack

[2019-06-19 22:17] cscheib commented on #413
https://github.com/qmk/qmk_configurator/blob/e84633a9cc8489da8095d587618d2520b0bdc601/src/store/modules/constants.js#L3

[2019-06-19 23:40] yanfali commented on #413
well a javascripty way to deal with this is take advantage of process.env.NODE_ENV. Check it for production and use one value, for anything else, just use an environment variable if it exists.

[2019-06-19 23:40] yanfali commented on #413
@zekth you want to take a stab at this one?

[2019-06-19 23:44] yanfali commented on #405
Sure, if you and @noroadsleft want to take a stab at this, I'm good with that. Scoped classes are a good idea, but they have some drawbacks too.

[2019-06-20 00:21] cscheib commented on #413
@yanfali I may take a crack at it myself, once I finish with a couple other tasks I'm working on.  Whoever gets to it first.

I'm not sure I'd interpret NODE_ENV for this one -- there may be some valid reason for someone to run one of these of their own, so why not just default to api.qmk.fm (as-is) and if-and-only-if the environment variable exists, use the value of that.  I personally believe NO

[2019-06-20 00:24] yanfali commented on #413
@cscheib we mostly use NODE_ENV for build time stuff, there's some code to selectively replace files for google analytics we aren't using anymore that would do what you are after. However since this is actually a dev only feature, environment variables are appropriate.

[2019-06-21 18:38] yanfali opened #414 "[chore] refactor startup ordering"
Right now the logic for startup is spread out across a bunch of different components.
There are at least 2 aspects:

mounted - when the page initially loads - parsing URL parameters
watch - when someone actively changes a URL

components are doing this in multiple places.

TODO: move responsibility into App.vue/Main.vue and use properties on components to update behavior. Having this logic distrib

[2019-06-21 18:39] yanfali opened #415 "load from URL parameter"
Now we have cloud loading from @zekth add URL parameter so people can send each other links pointing to keymaps

[2019-06-21 18:40] yanfali opened #416 "loading keymapJSON from base64 encoding"
take a base64 encoded keymap.JSON form URL parameter

[2019-06-30 10:17] zekth commented on #414
Totally agree with this. App statement as to be handled in the APP and not throught all the components.

[2019-06-30 10:31] zekth commented on #184
Having a Tour mode seems cool tho. Vue-tour has no real updates since last year, but seeing the issues it seems ok. I can try to tackle it.

[2019-07-03 01:26] yanfali opened #424 "keep list of user's favorite keyboards in local storage and filter UI"
Users would be able to pick which keyboards they prefer to see in their drop down, and toggle this on and off. Maybe have a :heart: icon which a user would click to add it to list and a :filter: icon to toggle the feature on and off.

Because all data is stored in the browser and never sent anywhere else this should not contravene GDPR because there is no PII (Personally Identifiable Information)

[2019-07-03 01:28] yanfali commented on #404
It's probably related to OSX requiring a minimum delay before recognizing a caps lock. Closing

[2019-07-03 01:28] #404 closed

[2019-07-05 16:07] zekth commented on #424
This may be done after the refactor involved by https://github.com/qmk/qmk_configurator/issues/415 ?

[2019-07-05 18:21] yanfali commented on #424
That's probably a good idea.

[2019-07-14 18:35] GrinninBarrett opened #435 "Sounds and Music Mode unavailable after flashing"
I just flashed my new Planck Rev6 (on Mac) using QMK Configurator,  with very simple changes: adding a right shift on the base layer where "Enter" is by default, and using "Lower+Enter" to actually hit "Enter". I also added "DEL" to the "Backspace" key in both "Lower" and "Raise" layers. I didn't change anything else.  After flashing, music mode is unavailable, and the only sounds the keyboard wil

[2019-07-14 23:27] noroadsleft commented on #435
Keymaps generated and compiled by QMK Configurator really only include the code necessary to use your keyboard as a keyboard, as the API that supports Configurator doesn't currently have the ability to make source-level changes like enabling/disabling options like Audio or RGB Underglow.

The only way to get these features back would be to set up a development environment and compile your keymap f

[2019-07-15 00:15] GrinninBarrett commented on #435
Thank you for the reply. Is it possible then to make the changes I made,
but return the board to its default condition otherwise (including
reintroducing audio functionality)? I’m not particularly fluent with code
but have a basic understanding of C. I could probably figure it out but
would be afraid to mess something else up.

Thanks,
Tucker

On Sun, Jul 14, 2019 at 7:27 PM noroadsleft <notificat

[2019-07-15 04:00] noroadsleft commented on #435
Absolutely it's possible. The Configurator creates a stripped-down `keymap.c` file before it compiles your firmware.

When you get the development environment set up, go to `keyboards/planck/keymaps/` and make a copy of the `default` folder, and name the new folder `grinninbarrett` (or whatever suits you). Then, open the `grinninbarrett/keymap.c` file in a plain-text editor. Starting at Line 57, y

[2019-07-15 06:00] drashna commented on #435
Actually, I suspect that you turned off audio completely, which would prevent music mode from working.

Make sure you have `AU_ON` (Audio On) in your keymap, and see if that helps

[2019-07-15 15:53] GrinninBarrett commented on #435
Hello,

Well of course I hope it's possible to return the board to its "factory"
condition, including sounds. I would be really bummed if that feature is
gone forever, even though it's a very small part of the reason I love the
board. I will try to flash it again, but using the actual code as you
suggested. So, will I just need to copy and paste the code from the default
keymap as found on the QMK

[2019-07-15 16:36] skullydazed commented on #435
You can always flash the latest version of the factory firmware by downloading it from here:

https://qmk.fm/compiled/planck_rev6_default.bin

That is linked from the master list of keyboards on qmk.fm:

https://qmk.fm/keyboards/

[2019-07-15 23:46] GrinninBarrett commented on #435
This worked perfectly! It's exactly what I needed. I shouldn't have been so
daunted by the prospect of using actual code before; it was simpler than I
expected, thanks to your guidance. Thank you so much for your help!

On Mon, Jul 15, 2019 at 12:36 PM skullydazed <notifications@github.com>
wrote:

[2019-07-16 01:53] noroadsleft commented on #435
Glad you got it sorted. I'm going to close this issue now, but feel free to reopen it if you need to do so.

[2019-07-16 01:53] #435 closed

[2019-07-23 07:38] emanpatricio opened #439 "Iris v3 cursor keys don't seem to work"

[2019-07-23 07:46] emanpatricio commented on #439
What am I doing wrong the HJKL, when configured as an arrow for layer 1, it's not working as expected.

this is the config
https://imgur.com/kNTbpcr

[2019-07-23 08:09] noroadsleft commented on #439
That should work as long as you're holding down the `MO(1)` key while attempting to use the HJKL arrows.

[2019-07-27 20:14] drashna opened #445 "[Request] Add a dark mode"
Add a dark mode, so that more sensitive eyes aren't burned by the brightness of QMK Configurator

[2019-08-02 09:08] emanpatricio commented on #439
Sorry for the late replied, I really don't know what I'm doing wrong, but I had an opportunity to try again this afternoon, the Numpad on MO(1) is not getting overwritten.

Tonight I will try with my rev3 keebio hopefully, it will work.

[2019-08-02 18:45] earthbound2eric opened #450 "Inputting Arbitrarily High Layer Value crashes UI"
typing in an arbitrarily large number into the momentary layer change key will cause the site to crash.

[2019-08-02 22:16] yanfali commented on #450
@earthbound2eric nice catch. Can you test this please?

http://test.config.qmk.fm

It should be fixed there.

[2019-08-02 22:22] zekth commented on #450
LGTM

[2019-08-02 22:31] noroadsleft commented on #450
LGTM2

[2019-08-02 22:46] yanfali commented on #450
@earthbound2eric should be fixed. Please re-open if this is still an issue.

[2019-08-02 22:46] #450 closed

[2019-08-02 22:48] yanfali commented on #439
@emanpatricio in your screen shot you'd selected the iris v2. That has an incompatible matrix with the rev3 so it probably won't work. Please try again with a rev3

https://config.qmk.fm/#/keebio/iris/rev3/LAYOUT

[2019-08-02 22:50] yanfali commented on #445
I believe @noroadsleft was working on this at one point.

[2019-08-05 22:14] zekth commented on #405
has been merged. Closing

[2019-08-05 22:14] #405 closed

[2019-08-05 22:14] zekth commented on #445
dark mode is done we can close

[2019-08-06 14:13] haaland opened #458 "Feature: Option to download .hex file"
Planck v6 download firmware only gives me the .bin file, would like to choose .hex.

[2019-08-06 15:56] skullydazed commented on #458
Do you have a tool that will flash hex files on stm32? AFAIK there are only tools to flash .bin files.

[2019-08-06 17:37] yanfali commented on #458
@haaland http://www.keil.com/download/docs/113.asp

[2019-08-06 17:38] yanfali commented on #458
@haaland As @skullydazed mentioned, we are not aware of any ARM based keyboards that use hex files at this time. If you know of a product that requires a hex file please let us know. As have to do something similar for the tada68 which requires a bin file for the default bootloader because it uses USB Storage. Please feel free to close this issue if you think it has been resolved.

[2019-08-08 03:28] tastethesoup commented on #150
Any recent updates? Would love this functionality in the configurator

[2019-08-10 16:41] #445 closed

[2019-08-16 05:29] PeterHindes opened #468 "encoder support [bdn9]"
The configurator seems to have no way to configure [encoders](https://beta.docs.qmk.fm/features/feature_encoders), and even the default layout for the bdn9 when compiled with QMK configurator has no mappings for the encoders.,

[2019-08-16 05:33] PeterHindes commented on #468
[defaults.zip](https://github.com/qmk/qmk_configurator/files/3508170/defaults.zip)

[2019-08-16 17:25] yanfali commented on #468
@PeterHindes yeah, sorry, but there is no support in the API right now to do this. The idea behind downloading source is you can use the configurator to build a starter than then use the full environment to create an encoder mapping. Currently this is an advanced feature and there's no way for the UI to access it with the current API. This will hopefully change in the future when we have a data dr

[2019-08-16 17:26] #458 closed

[2019-08-16 17:27] yanfali commented on #458
No response for 10 days. Closing.

[2019-08-16 17:28] yanfali commented on #439
No response in 14 days. Closing. Please reopen if this is still an issue.

[2019-08-16 17:28] #439 closed

[2019-08-16 21:24] noroadsleft commented on #468
which is here: https://discord.gg/Uq7gcHh

[2019-08-17 18:38] zekth opened #471 "Refactor UI tests"
Like mentionned in the https://github.com/qmk/qmk_configurator/pull/465

We need to refactor UI testing and do better testing, because ATM it's just trying to check if the DOM is present but nothing is really tested.

Also instead of using selenium i suggest to use Cypress:
https://github.com/cypress-io/cypress

I'll make a proposal for it

[2019-08-20 15:21] #471 closed

[2019-08-22 14:41] zekth opened #476 "Favorite colorway"
Because we address the favorite keyboard in: https://github.com/qmk/qmk_configurator/pull/465

Why not adding a favorite colorway in the app?

[2019-08-22 16:18] yanfali commented on #476
before we start doing that I'd want a design for the local storage file with a formal definition and documentation of versions with how to upgrade between them

[2019-08-22 20:00] zekth opened #477 "Move configuration settings to a proper module"
As configurationSettings evolve it's reasonable to move it to its proper module

[2019-08-22 20:01] zekth opened #478 "Make keyboards props of ControllerTop"
At the moment ControllerTop is consuming keyboards from the store, it would be easier to have it consuming as a props.

[2019-08-22 21:52] AffectionateNouns opened #479 "Keycodes for Ctrl and OS are swapped."
I don't know for sure if it's just for the DZ65RGB or if it exists on other boards, but the L_CRTL and L_OS keycodes are swapped, as well as R_CTRL and R_OS. Meaning if you select L_CTRL for the bottom leftmost key on the board (where Ctrl would normally be) it sets that to be your OS key.

[2019-08-22 22:48] yanfali commented on #479
@noroadsleft ?

[2019-08-23 05:56] noroadsleft commented on #479
This is actually the combination of a few different issues, but the interim cause is a recent commit to QMK Firmware that exposes a long-standing weakness in how QMK Firmware uses EEPROM (meaning this isn't a Configurator bug).

The data for storing keyboard settings across power cycles (unplugging/replugging the keyboard, installing new firmware, etc.) is stored in a section of space called [EEPR

[2019-08-23 18:20] drashna commented on #479
@stanrc85 for `EEP_RST`, did you unplug the board and plug it back in?

Also, this is for the HS60v2, do you have VIA enabled on it?   if so, that is the problem.  It's getting reset by VIA.....

https://github.com/qmk/qmk_firmware/blob/master/keyboards/hs60/v2/config.h#L138-L144

increment the addresses by 2, and it should fix it.

[2019-08-23 18:36] stanrc85 commented on #479
Yeah after doing the eep_rst I have to unplug the board. I don't use VIA but I think it is enabled on my build. I'll try to increase the address later and let you know. Thanks!

[2019-08-23 18:43] drashna commented on #479
I checked the address, it does collide. So it will need to be changed

[2019-08-23 18:53] stanrc85 commented on #479
The magic or version addr or both?

On Fri, Aug 23, 2019, 2:43 PM Drashna Jaelre <notifications@github.com>
wrote:

[2019-08-23 19:39] drashna commented on #479
See the other thread.

[2019-08-24 00:16] stanrc85 commented on #479
That resolved it, thanks!

[2019-08-25 02:23] #414 closed

[2019-08-25 02:23] #415 closed

[2019-08-25 02:23] #424 closed

[2019-09-05 23:58] yanfali commented on #479
ok, closing this as it's an issue with firmware and has now been patched.

[2019-09-05 23:58] #479 closed

[2019-09-06 00:00] yanfali opened #487 "when in print mode, deselect key"
symptom: the keyboard layout is shared with the configurator, it's detecting that a specific key has been selected and is highlighting that key on each layer. That's a bug. See issue https://github.com/qmk/qmk_firmware/pull/6683 for an example

[2019-09-06 14:59] johann-koebbe opened #488 "Layer and media keys not working in Windows 10"
I don't know if this is the right place for this issue, but it seems like a reasonable place to start.

I created and compiled the attached keymap with the online configurator, then flashed it to my xd75 with QMK Toolkit 0.0.12. Everything works as expected in Fedora 30 and macOS 10.12.6. On Windows 10 (1903/18362.329), however, the media keys don't work and layer 2 does not work. I tested media k

[2019-09-06 16:34] yanfali commented on #488
You're using the macos specific keycodes. Try the more generic ones KC_VOLD and KC_VOLU

[2019-09-06 16:43] johann-koebbe commented on #488
Thanks @yanfali ! I'll try as soon as I reasonably can. :tada:

[2019-09-06 17:07] johann-koebbe commented on #488
@yanfali That worked great! Thanks so much. As for the layer not working, it turned out to be a PEBKAC. NumLock wasn't on. Derp. Thanks for great support!

[2019-09-06 17:07] #488 closed

[2019-09-11 08:52] Nanoseb opened #491 "Generate an ascii art keymaps"
We already have the option to export the keymaps as images. However it would be also nice to have an ascii art version of it to put in keymap.c, readme or else.

Either something like this:
[code]

Or probably easier to generate:
[code]

[2019-09-13 18:21] xster opened #495 "Check for browser features instead of browsers in browser warn?"
It wasn't very clear why a warning banner was shown on Safari. Looking at https://github.com/qmk/qmk_configurator/issues/148, it doesn't really seem like the warning applies. Perhaps use browser feature detection instead of whitelisting browser types.

[2019-09-13 20:06] yanfali commented on #495
Sorry, we don't have a big enough team to support Safari. We only support two browsers officially, Firefox and Chrome.

[2019-09-13 20:06] #495 closed

[2019-09-15 03:39] yanfali commented on #491
Could definitely try and do this, but it might be more useful to have it on the new QMK CLI since that is a python CLI tool.

[2019-09-15 11:21] Nanoseb commented on #491
Ok, interesting. I put the issue on this repository because to my (limited) knowledge qmk cli and other tools didn't know about the keyboard layout, when this configurator does. But if I am mistaken and this data is available to qmk cli, then I may even try to implement it myself (I can't do javascript, but am ok in python).

[2019-09-20 18:02] MarkerDave commented on #201
Same here, I also got this error trying to compile for the Ergodox infinity.

[2019-09-20 18:08] yanfali commented on #201
Nope sorry, we can't build ugfx automatically because the license is incompatible with distribution.

[2019-09-23 03:13] noroadsleft opened #501 "Clear Layer function breaks layout key count and key assignment if the function is run from Layer 0"
## Steps to Reproduce

1. Load any keyboard in QMK Configurator
2. While Layer 0 is selected, click the Clear Layer button and confirm when the dialog prompt appears.

The key count that appears at the lower right of the keymap will read `0 Keys`.

Any of the following restore the key count:

- Select the last key of the layout while on Layer 0 and assign a keycode to it (assuming you know which k

[2019-09-23 03:17] yanfali commented on #501
Good find. This is an internal implementation detail leaking into the UI. I think the easiest way to fix it is use the layout macro count.

[2019-09-26 02:27] nmnielsen opened #507 "Unable to upload keymap JSON file"
I have a JSON file that I downloaded from the QMK Configurator last week, but when trying to upload it to the Configurator now I get the error

I've made sure to select the same keyboard that the keymap was originally made with.

The contents of the file are:

[2019-09-26 02:37] nmnielsen commented on #507
It's a pretty easy manual fix, adding the following before and after the array
before: `{"keyboard":"redox/rev1","keymap":"default_9ea0103","layout":"LAYOUT","layers":`
after: `,"author":"","notes":""}`

Looking back on it, it may be I was trying to upload a file from a firmware download instead of the JSON download.

[2019-09-26 02:37] #507 closed

[2019-10-01 15:48] SneakyRobb opened #512 "Dc-2014 Print Screen button"
Hi,

I am having an issue where my print screen button on the DC-2014 keyboard.

It seems to give the code 37 which is Pad_asterisk when I press print screen.

Could you add this additional layout where that key is changed to the layout options for

keyboard "converter_xt_usb?"

I think my file might not be properly formated or correct though. I added a new file. I think I accidentally pasted over

[2019-10-01 16:36] yanfali commented on #512
@SneakyRobb can't you just fix this in software? Print Screen is a standardized code. This seems like a keyboard specific issue.

[2019-10-01 16:45] yanfali commented on #512
@SneakyRobb you need to get these fixes into qmk/qmk_firmware configurator just builds what is upstream

[2019-10-01 16:45] #512 closed

[2019-10-01 19:05] noroadsleft commented on #512
@SneakyRobb

This file is assigning `KC_PAST` (Pad Asterisk) to the key that is labeled Print Screen on your keyboard.

Import this file to Configurator, click the X on the `KC_PAST` key, and assign Print Screen (`KC_PSCR`) in its place. Configurator is doing exactly what this file is telling it to do.

[2019-10-01 20:13] SneakyRobb commented on #512
Hi,

I realise now this is a qmk issue and not an issue with the configurator.

On the XT keyboard "print screen" and "asterisk" are on the same key and HID says the key is just  numpad asterisk.

https://github.com/tmk/tmk_keyboard/issues/552
That is what was changed on the TMK xt_layout in this issue there.

So If I use the qmk xt_usb layout to make a keymap, that key does not work.

So to fix t

[2019-10-02 02:36] noroadsleft commented on #512
Going to move this to qmk/qmk_firmware; it's more appropriate there.

[2019-10-03 12:54] JakeVdub commented on #145
I can take a look into this!

[2019-10-04 19:03] zekth commented on #477
Has store has been refactored, we can close it.

[2019-10-04 19:03] #477 closed

[2019-10-04 22:00] #413 closed

[2019-10-05 23:17] alexweininger commented on #491
This would be super nice when documenting keymap.c files! +1

[2019-10-06 13:01] Parikshit-Hooda opened #524 "add LICENSE to repo"
This repo should have a license(which it currently doesnt) and also perhaps mention it in readme.
I want to work on this issue as part of hacktoberfest.

[2019-10-06 16:04] ThiagoWhispher opened #527 "Translate to pt-BR (Brazilian Portuguese)"
Create Brazilian Portuguese translation (pt-BR).

[2019-10-06 17:02] pranshuchittora commented on #524
Nice catch

[2019-10-06 18:42] yanfali commented on #524
need to think this one over, thanks for your input

[2019-10-06 18:42] #524 closed

[2019-10-07 00:13] #527 closed

[2019-10-08 08:02] BALAJIRAO676 commented on #487
Okay yeah it is . Trying to work on it but i am new here

[2019-10-09 14:12] wojciechgabrys commented on #126
Proposed a fix in https://github.com/qmk/qmk_configurator/pull/534

[2019-10-09 17:38] #126 closed

[2019-10-09 19:44] QQism opened #535 "Add `Brightness Up` and `Brightness Down` keycodes"
It would be very handy for laptop users to adjust their internal screen brightness by adding brightness up and down keycodes (i.e. `KC_BRIGHTNESS_UP` and `KC_BRIGHTNESS_DOWN),` to the UI configurator `/store/modules/keycodes/app-media-mouse.js`.

The keycodes work on both Windows 10 and macOS High Sierra 10.13 from what I've tested and should be fine with their later OS versions.

Please let me kn

[2019-10-10 00:12] yanfali commented on #535
@QQism not against it, send a PR and work with @noroadsleft on where to put it

[2019-10-10 21:25] RagingRoosevelt opened #537 "Not able to select alternative controllers for Atreus"
In the configurator, you're able to select Atreus variants (astar or teensy2)
![image](https://user-images.githubusercontent.com/6985440/66607383-f3beba80-eb68-11e9-94f3-7e558952d000.png)
but it doesn't have any impact in the resulting compiled firmware.  In particular, the astar should result in a mirrored layout (using `PCBDOWN=yes` flag?) when selected.  At present, when compiling for astar, th

[2019-10-10 23:00] yanfali commented on #537
@skullydazed you want to weigh in on this?

[2019-10-11 05:38] sandyjoshi commented on #501
@yanfali  is this issue fixed?

[2019-10-11 06:01] noroadsleft commented on #501
@sandyjoshi Yes, this issue was fixed in the pull request referenced above.

[2019-10-11 06:01] #501 closed

[2019-10-12 21:47] #535 closed

[2019-10-13 00:51] noroadsleft commented on #535
Solved in #538.

[2019-10-21 18:21] #487 closed

[2019-10-23 15:15] sanxy commented on #491
Knowing the keyboard layout is essential, thanks

[2019-10-23 15:16] sanxy commented on #476
when will this be done?

[2019-10-24 03:10] jjhaefner commented on #189
You're able to assign the mouse keys in the configuration....do they just end up not working due to issues when compiling the mk file?

[2019-10-24 06:02] skullydazed commented on #537
It looks like you have an earlier version of the astar pcb, where the PCB labels face down. Per the atreus readme:

I think to solve this for configurator someone would need to create `atreus/astar/mirrored` which sets `PCBDOWN=yes`.

[2019-10-24 21:24] zvecr commented on #537
Fixed by #7137

[2019-10-24 21:24] #537 closed

[2019-10-25 17:32] yanfali commented on #491
locking this issue until after hacktober

[2019-11-03 17:03] gauntface opened #563 "Feature Request: Add link from config.qmk.fm to github repo"
Would be helpful to add a link from the config.qmk.fm to the appropriate repo (I'm hoping it's this one, but not sure).

This would make giving feedback easier.

[2019-11-03 18:10] yanfali commented on #563
Oh, so like a report issues button?

[2019-11-05 03:05] jdknezek opened #564 "Preonic rev2 loses layer 5 ("adjust" layer)"
After using the configurator to compile and download a firmware based on the `preonic/rev2` template, I lose access to layer 5 (the "adjust" layer), usually accessible by holding the raise & lower keys simultaneously.

In case it helps, my HID device ID is: `FEED:6061:0002` and my DFU device ID is `03EB:2FF4:0000`. I'm using qmk_toolbox 0.0.14.0 on Windows 10...

[2019-11-05 04:26] yanfali commented on #564
@jdknezek hey sorry,. But adjust isn't supported using lower and raise. Unfortunately it's implemented using custom code right now and isn't trivial to implement as a key code. We've discussed some work around privately but they will probably have to wait until the v2 API is finished. In the meantime you can simulate it by adding an adjust layer to one of your other layers and just holding a diffe

[2019-11-05 06:07] noroadsleft commented on #564
I've been meaning to fix that for a few months. :disappointed:

[2019-11-05 18:50] yanfali opened #566 "make qmk keycodes searchable"
Desaturate keycodes that don't match search in the keycodes tab

[2019-11-05 18:57] yanfali commented on #566
Example of an UI like this is MacOS where you can search for items in the System Preferences

![Screen Shot 2019-11-05 at 10 57 21](https://user-images.githubusercontent.com/2275667/68236969-0fc44900-ffbb-11e9-8e7b-12b1829175c0.png)

[2019-11-07 01:51] fauxpark opened #570 "Allow loading info.json from URL"
Like #114, but prompts for a URL instead of a local file.

This would make reviewing new keyboards easier, as you don't have to save the "Raw" file from the PR.

[2019-11-07 06:42] yanfali commented on #570
preview of preview here https://test.config.qmk.fm/#/dev

[2019-11-07 16:39] yanfali commented on #570
- tbd check url before loading
- spinner
- export changed JSON

[2019-11-11 18:09] SarreqTeryx opened #575 "Configurator does not handle MT() as expected"
If I hand code in "MT(KC_LSFT, KC_CAPS)", then try to load it into the Configurator, it reparses to "ANY(MT(KC_LSFT, KC_CAPS))"

I'm later realizing "RSFT_T(KC_CAPS)" exists, but doing it with MT() should at least reparse to that, rather than ANY().

[2019-11-11 18:13] SarreqTeryx opened #576 "QMK and Unicode"
I'm trying to create a layout with superscript, subscript, and roman numerals using "ANY()", but when I reload from .json, they're all coming up as "KC_TRNS"

[2019-11-11 21:55] noroadsleft commented on #575
It's because Configurator doesn't have any `MT()` keycodes directly in the UI. The `ANY()` wrapper allows users to use keycodes that the UI doesn't recognize. (The UI has no system in place for when a keycode requires multiple arguments, as `MT()` does.) The wrapper gets stripped from the data before Configurator sends it to the compiler, so it still works. I don't know that there's much demand fo

[2019-11-11 21:59] noroadsleft commented on #576
There's a proof-of-concept PR that may be relevant, but I don't know how much work would be required to get this feature in:

https://github.com/qmk/qmk_configurator/pull/446

There's also the matter that in order to use Unicode, it has to be enabled via the keyboard's `rules.mk` file in qmk/qmk_firmware, which Configurator has no capability to alter (the API doesn't support changing `rules.mk`/`c

[2019-11-12 21:00] yanfali commented on #575
@SarreqTeryx we've deliberately chosen not to support MT in the UI because we have the aliases. We could indeed reparse your MT code, and that might be an interesting thing to do. ANY isn't really designed for this use case though, so I'm going to close this as won't fix for now. Thanks for the input.

[2019-11-12 21:00] #575 closed

[2019-11-12 21:02] yanfali opened #577 "MT reparsing?"
This came up as issue #575 but it really was the user hand inputting the MT codes either from a text editor or the UI. One interesting case to support could be to detect MT codes in the keymap and reparse them as the single position versions. This would be nice to have.

[2019-11-18 07:21] yanfali commented on #222
Resolved by #583

[2019-11-18 07:21] #222 closed

[2019-11-20 04:08] fireworm71 commented on #150
Would adding "strings only" be a good first step?

[2019-11-20 07:54] yanfali commented on #150
It's getting closer. QMK CLI project was started by @skullydazed and this paves the way to having API support for things like macros.

[2019-11-21 09:52] zekth opened #592 "Analytics dependency deletion"
Do we get rid of `vue-analytics` as it's not used anymore due to GDPR ?

[2019-11-21 21:14] yanfali commented on #592
sure submit a PR. it's time to remove it

[2019-11-24 05:37] #476 closed

[2019-11-25 18:14] #592 closed

[2019-11-27 22:16] yanfali opened #606 "Share Configurator Settings By URL"
@zekth pointed me at this library https://github.com/KilledByAPixel/JSONCrush
It compresses JSON documents about 4x in my tests for configurator. Would be a good choice to implement URL based sharing for configurator as this keeps us under pasting limits and is less likely to get mangled by discord.

[2019-11-30 14:47] yulei opened #609 "How to create and verify the info.json for the configurator?"
Currently the keyboard(https://github.com/qmk/qmk_firmware/tree/master/keyboards/matrix/noah) was rendered as all 1u key on the config.qmk.fm. While I use the same info.json on config.qmk.fm through the preview mode, it displayed correct( the number of keys was wrong).

![image](https://user-images.githubusercontent.com/720475/69901872-3ad76800-13c2-11ea-91af-e19cf5307a26.png)

I checked the layou

[2019-11-30 19:07] noroadsleft commented on #609
I actually discovered this same issue last night.

Your contents are correct but the file encoding is wrong. The API expects the files it consumes to be encoded as UTF-8, but your `info.json` file is UTF-8 BOM. Unfortunately this is something that's hard to check via GitHub, and in fact I don't know any online resource that can check that. (I have my editor configured to use UTF-8 by default.)

[2019-12-01 10:50] yulei commented on #609
I'm using VS code or sublime, not sure while it was BOM coded :(   It will be great if you could help to fix this issue. thank you very much.

[2019-12-01 10:50] #609 closed

[2019-12-12 01:49] yulei opened #618 "How to set the default layouts"
hi there, I pushed several keyboards( [noah](https://config.qmk.fm/#/matrix/noah/LAYOUT_wkl)) to qmk recently, but while using the config.qmk.fm. They don't load the default keymap layouts. Are there specific requirements to setup the default keymap layouts? thanks

[2019-12-12 03:42] yanfali commented on #618
@noroadsleft you wanna help out @yulei

[2019-12-12 10:49] noroadsleft commented on #618
@yulei,

Configurator takes its default keymaps from
https://github.com/qmk/qmk_configurator/tree/master/public/keymaps

As you can see, the files are JSON format. As much as possible, I try to keep these such that they behave the same as running `make <keyboard>:default` from qmk_firmware.

Here's what the JSON keymap for the Matrix 8XV1.2 OG would look like:

[code]

`keyboard` and `keymap` are

[2019-12-13 03:49] yulei opened #623 "strange qEvt() appears on the source code"
while I try to compile the [noah](https://config.qmk.fm/#/matrix/noah/LAYOUT_wkl) keyboard, I got the following error:
![image](https://user-images.githubusercontent.com/720475/70767765-78ae9600-1d9d-11ea-9ed4-9314e582613d.png)

so I downloaded the source code and found
![image](https://user-images.githubusercontent.com/720475/70767825-a3005380-1d9d-11ea-9502-f1d622a1a4f0.png)

the macro qEvt() wa

[2019-12-13 04:28] yulei commented on #618
thanks for the detailed explanation. Yes noah can't compile with the current qmk configurator. It should caused by the back end system. I fired an issue here but not sure if it was the right place.

And about the current implementation of the keymap compiling process, could we introduced a extra layer to abstract the keymap<->keyboard matrix mapping (something like the unimap implementation of the

[2019-12-13 06:03] noroadsleft commented on #618
We've talked about doing just that, but that requires the API gaining additional functionality, and there's not much movement happening on the API because we simply don't have the labor and expertise to push it forward at this time. skullydazed developed the API entirely on his own and there's not anyone else who knows it well enough. We've simply outgrown it.

[2019-12-31 02:28] #145 closed

[2020-01-02 03:22] focusaurus opened #630 "[Bug] Error compiling ergodox_infinity with ANY(KC__VOLUP)"
## Describe the Bug

I have a working keymap from config.qmk.fm for my ergodox_infinity that I made on 2019-01-28. I can compile that successfully with the latest qmk repo (via docker image). I went to tweak 2 key mappings via the web app and the new JSON file I downloaded won't compile.

Since it was such a surgical change, I pretty-printed and diffed both versions of the JSON files and discovere

[2020-01-02 04:32] noroadsleft commented on #630
Transferred because this seems to be a Configurator issue and not a Firmware issue.

---

This was probably caused by #562. We had a number of users who were confused by there being two sets of Volume keycodes, and using the wrong set and then reporting their Volume keys didn't work.

As the Windows/Linux volume codes also work on macOS, we removed the other set.

Also, I'm surprised you were able

[2020-01-02 04:40] focusaurus commented on #630
Hmm, I'm not sure about your last paragraph. I just went to the website, selected "ergodox_infinity", choose my keys and downloaded a JSON file. Then I was able to get that to compile to a `.bin`, so it seems supported throughout the stack.

[2020-01-02 04:43] focusaurus commented on #630
Oh let me be clear, I'm building the .json keymap using configurator then compiling that locally using the qmk_firmware docker image. I'm not trying to compile via the configurator web app.

[2020-01-02 04:58] noroadsleft commented on #630
Okay, I understand now.

There's two issues you ran afoul of. The first being the removal of the macOS volume keycodes as I described above. The second is that the `ANY()` wrapper is only designed for use within the QMK Configurator app itself (it interfaces with Configurator's UI code), and not within any other QMK tooling. Your removal of the wrapper to compile your firmware would be the correct

[2020-01-13 19:01] rmwphd commented on #377
Is this API part of this repo? Or where could I find it to add such endpoints?

[2020-01-14 08:07] AndreaZucchi opened #639 "LED configuration"
Hi, is there any plan to add led configuration?

[2020-01-14 17:35] noroadsleft commented on #639
The API that backstops QMK Configurator needs updates to be able to support this. No timeline as of yet, but it's definitely something we'd like to have.

[2020-01-19 14:42] KAndrsn opened #641 "Not usable from mobile browser"
The left side is cropped on Android Chrome and Android Firefox, making it impossible to look at any layer other than default.  I'm not planning to edit a layout, but I can't browse layouts when away from my desktop.

[2020-01-23 22:51] yanfali opened #643 "test"
![rgbvomit](https://user-images.githubusercontent.com/2275667/73031030-dba93900-3def-11ea-992e-99139264c638.gif)

[2020-01-23 22:54] #643 closed

[2020-01-27 17:55] vosechu commented on #618
@yulei That is such a helpful post! Can we get this added to the readme or the wiki?

[2020-01-27 17:56] vosechu commented on #618
er, @noroadsleft wrote it. Sorry.

[2020-01-28 00:56] noroadsleft commented on #618
@vosechu I've been meaning to put this on the [QMK Firmware docs](https://docs.qmk.fm/) for some time; internally we've been talking about restructuring the docs for some time, but there are other projects that have needed more attention.

[2020-01-31 11:49] umezo opened #647 "RGB_MODE+/- not work for Redox/rev1"
When I put RGB_MODE +,- and some other LED control key codes, toggle, hue, sat and bright works but others doesn't work.

The binary of default layout downloaded from QMK Toolbox works well but compiling by qmk configurator dosen't.
(maybe this https://github.com/qmk/qmk.fm/blob/8c53fa0869675c9893f046c55bb226cdf4d5a048/compiled/redox_rev1_default.hex)

This is my json file for QMK configurator.
ht

[2020-01-31 18:12] noroadsleft commented on #647
Wait, the `RGB Mode +` key works on the default keymap when downloaded through QMK Toolbox, but not on your keymap through Configurator? Do I understand that correctly?

[2020-01-31 21:44] gauntface commented on #563
yeah that would totally work

[2020-02-04 02:12] umezo commented on #647
Sorry my describing.

I think "RGB_MOD" = "RGB_MODE +" and "RGB_RMOD" = "RGB_MODE -".

I downloaded binary of default keymap  from here.
![スクリーンショット 2020-02-04 10 59 45](https://user-images.githubusercontent.com/241410/73707046-9d8c0d80-473d-11ea-9714-e1aa586c2404.png)

After I flashed it, I could control RGB mode by following key.
![スクリーンショット 2020-02-04 11 01 53](https://user-images.githubusercon

[2020-02-12 00:35] yanfali commented on #647
You have to ask the maintainer of the keyboard. They put the RGB configuration in the default keymap not the keyboard level. That's why it doesn't work on configurator. Sorry.

[2020-02-12 00:35] #647 closed

[2020-02-12 00:50] agbubby12 opened #655 "Bug/Error when compiling new keymap for Matrix Noah"
As the title says, I am attempting to flash a new Matrix Noah and seem to be getting an error everytime I try to compile the keymap I want. Not sure what is going on because this is like my 2nd time using QMK, but I can attach the entire code I get here:

[noah eror.txt](https://github.com/qmk/qmk_configurator/files/4189297/noah.eror.txt)

For context I am selecting matrix/noah as the keyboard and

[2020-02-12 01:05] yanfali commented on #655
I've tested the docker container and it doesn't fail, so I'm not sure what's going here. It could be something to do with the version of the source pulled down by the API being out of date.

[2020-02-12 01:09] noroadsleft commented on #647
That's what I missed.

https://github.com/qmk/qmk_firmware/blob/9456832a3bba4dd766a26a6286e78d3e88e4efce/keyboards/redox/keymaps/default/config.h#L29-L34

That should all be configured at the keyboard level, especially the `RGBLIGHT_ANIMATIONS` line.

[2020-02-12 01:14] yanfali commented on #655
Looks like this fix is needed: https://github.com/qmk/qmk_compiler/pull/59

[2020-02-12 19:50] skullydazed commented on #655
This should be working now that I've pushed out https://github.com/qmk/qmk_compiler/pull/59. I was able to compile an empty layout just now.

[2020-02-12 19:50] #655 closed

[2020-02-19 00:06] Supermagnum opened #658 "Please add missing European letters"
Please add support for the European signs Ø Æ Å Ä Ö þ ð. These are missing in the configurator.

[2020-02-19 00:20] yanfali commented on #658
This is entirely based on your OS. All keyboard HID codes are effectively ANSI. Switching the OS locale sets the keyboard interpretation for those codes. Try using the keyboard tester and you should figure out what ANSI codes are actually interpreted for your locale as those characters.

[2020-03-02 22:27] robinrabauke opened #668 "Whole body moves while dragging (& can't push to new branch)"
Hi,

I've realised that the whole body moves slightly to the right while I drag a key from the keyboard to the keymap. This also makes it hard to actually drag a key.

I've reintroduce the class `.hidden` to actually hide the drag-container, which works but I can't push to the repository.

What do I need to do to be able to create a branch and a PR?

best, robin

[2020-03-03 01:20] yanfali commented on #668
yeah, PR. https://opensource.com/article/19/7/create-pull-request-github
What projects let you push code to them without permissions?

[2020-03-03 01:57] yanfali commented on #668
@robinrabauke please close issue after you've verified it's fixed for you

[2020-03-03 16:10] #668 closed

[2020-03-03 16:11] robinrabauke commented on #668
I was not aware that I need to fork it. Makes total sense now :) Thanks for the clarification!

[2020-03-03 18:15] NFiorentini opened #670 "QMK Configurator doesn't work for Ergodox Infinity"
`QMK Firmware 0.8.13`
`WARNING: Some git submodules are out of date or modified.`
 `Please consider running make git-submodule.`

`Making ergodox_infinity with keymap ergodox_infinity_layout_ergodox_help`

`tmk_core/chibios.mk:38: lib/chibios-contrib/os/common/startup/ARMCMx/compilers/GCC/mk/startup_k20x7.mk: No such file or directory`
`tmk_core/chibios.mk:40: lib/chibios/os/hal/hal.mk: No such fi

[2020-03-03 18:42] yanfali commented on #670
Sorry, this is a licensing issue. qmk firmware is working on removing this dependency. the licenses are incompatible with distribution.

[2020-03-03 18:42] #670 closed

[2020-03-03 18:43] yanfali commented on #670
Dupe https://github.com/qmk/qmk_configurator/issues/201

[2020-03-03 18:44] yanfali commented on #658
no activity or response from user. closing.

[2020-03-03 18:44] #658 closed

[2020-03-03 18:46] yanfali commented on #623
@yulei was this fixed?

[2020-03-03 18:47] #566 closed

[2020-03-03 18:48] yanfali commented on #566
was added to keycode ui.

[2020-03-03 18:48] #564 closed

[2020-03-03 18:49] yanfali commented on #377
@rmwphd you should look at the qmk-cli effort, that's where this feature would fit best.

[2020-03-03 19:05] NFiorentini commented on #670
Does this mean that QMK firmware will never support the Ergodox Infinity?

[2020-03-03 21:10] yanfali commented on #670
It means you have to use the source code and build it from the cli. Sorry.
It's a licensing issue, we aren't allowed to legally distribute binaries.
Thank Input.Club.

On Tue, Mar 3, 2020 at 11:05 AM NFiorentini <notifications@github.com>
wrote:

--
"We do not learn so much by our successes as we learn by failures -- our
own and others'.  Especially if we see the failures properly corrected."
-- F

[2020-03-03 23:22] skullydazed commented on #670
To expand a bit on this issue-

When the ergodox infinity was first implemented in QMK we were not very good about checking licenses. It turns out that [ugfx](https://ugfx.io/) is not GPL compatible, and we can't distribute binaries that comply with both that license and the GPL.

What is needed is for someone to write an alternative LCD implementation for the infinity, something we want to do. On

[2020-03-03 23:37] NFiorentini commented on #670
Thank you for the explanation.  Currently, the kiibohd Configurator, current and previous versions, does not handle layer switching properly, and the issue has been outstanding since last July.  I had brought the issue up to Haata in November, and he isn't responding now.  I can't get anyone on /r/MechanicalKeyboards to help.  Is there anyone else that I talk to or anything that I can do?

[2020-03-04 01:53] noroadsleft commented on #623
Looks fixed.

![image](https://user-images.githubusercontent.com/18669334/75836800-db4d7780-5d77-11ea-8b27-47bccdb7ca00.png)

[2020-03-04 08:11] xplusplus opened #672 "Designer Consent for Colorways Updates"
Gathering consent from keyset designers for updates to the available colorways in the configurator.

Currently I'm adding keyset designs found in the 2020 Mech Madness Design bracket. This issue will track the consent to add the colorways which I've gained from reaching out to the designers.

_Originally posted by @yanfali in https://github.com/qmk/qmk_configurator/pull/665#issuecomment-594108740_

[2020-03-04 08:14] xplusplus commented on #672
- GMK 8008
    - Permission from Dixie granted
- GMK 9009 (R3)
    - Permission TBD
- GMK Alter
    - TBD
- GMK Analog Dreams
    - Permission from pwade3 granted
- GMK Ascii
    - Permission from Oblotzky granted
- GMK Bingsu
    - TBD

[2020-03-04 14:55] skullydazed commented on #672
Please track these permissions in the original PR so that everything is in one place.

[2020-03-04 16:41] NFiorentini commented on #670
I've contacted the ugfx licence owners listed [here](https://ugfx.io/license.html), asking for their help in remedying this situation.  I just want to get this keyboard working again.

[2020-03-04 16:58] skullydazed commented on #670
Even if we have permission (they have actually given it before) it's not a situation we're comfortable with and will not be enabling ugfx in configurator.

[2020-03-04 17:14] NFiorentini commented on #670
Wish we had private messaging here, because I'd really like to know more.

What else can I do to get this keyboard working again?  I'm willing to pay someone to teach me.

[2020-03-04 17:17] skullydazed commented on #670
We use [discord](https://discord.gg/Uq7gcHh) for realtime chat. It's often a great way to have back and forth conversations about these topics.

Your quickest way to get it working again is to use the source and compile it locally. We have instructions for that here: https://docs.qmk.fm/#/newbs

[2020-03-05 03:05] NFiorentini commented on #670
I received the following response from uGFX:

Does this change things at all?

[2020-03-05 18:48] skullydazed commented on #670
That reinforces our point- it is not possible for us to comply with terms of the GPL and the terms of the uGFX license at the same time. That's why we made the deliberate choice to exclude uGFX from API builds.

[2020-03-10 08:47] elmo-space opened #677 "~~keymap download broken~~ Remove download source and keymap.c functionality"
Downloading the compiled keymap doesn't work anymore right now.
Instead of downloading a zip file with the keymap.c the "keymap only" button gives you the same file as the "keymap json" download button, just with a different filename.
The generated keymap.c is also missing when downloading the full source as well.

[2020-03-10 14:19] skullydazed commented on #677
This is a new change. You can compile JSON files using the CLI and have been able to for some time. The API has been changed to use that facility instead of generating a keymap.c, so it's delivering the keymap source as used.

[2020-03-10 16:24] #623 closed

[2020-03-10 16:24] #630 closed

[2020-03-10 16:27] yanfali commented on #677
That means the UI is broken. Re-opening and renaming the bug

[2020-03-10 17:30] yanfali commented on #677
ok. discussed this offline. @skullydazed will be opening an issue in future to aggregate future changes for the UI. closing for now.

[2020-03-10 17:30] #677 closed

[2020-03-13 13:58] b1uegh0st opened #684 "Compiling issues for helix\rev2"

[2020-03-13 14:01] b1uegh0st commented on #684
(sorry hitting enter too soon)
Since the earlier of this week, everytime I try to compile a helix/rev2 (any of them except for the split common) the compiler resulting in error, even with default keymap load by the tool.

Picture attached. Please help.

![image](https://user-images.githubusercontent.com/6695697/76627411-8e368600-656d-11ea-85b2-9cb56fed3ee6.png)

[2020-03-13 15:21] mtei commented on #684
As a workaround, use `helix/rev2/sc/back` instead of `helix/rev2/back`.

This is an experimental implementation, but you can use it for now.

Look here if you want to know the difference between the two. (The difference is a little.) Https://github.com/qmk/qmk_firmware/pull/7718

[2020-03-13 15:40] mtei commented on #684
I'm sorry, but when I tried it, I realized that the back light couldn't be used.

[2020-03-13 17:21] b1uegh0st commented on #684
Thanks for your answer. I wasn't sure what SC really means (and if it is usuable) so did not try it while in a hurry. Will re-try this weekend, not caring about the backlight for now.

[2020-03-13 17:32] b1uegh0st opened #685 "Feature request: Supporting separate maps for left/right of the split keyboard"
This maybe a bit much to ask (as it may lengthen the list of keyboard supported). Yet here is the use case:

- I do like to map my helix on QMK Configurator.
- Recently decided to use the 2 halves separately (each with its own USB connection) as macro pads.
- I can use QMK Configurator to map the left half ok.
- For the right half I need to reverse visualize where certain key will be and just map

[2020-03-16 01:02] xplusplus commented on #468
I'm actually working on a POC for this with the CLI right now: #8440

[2020-03-17 20:36] b1uegh0st commented on #684
So I tried a keymap today on helix/rev2/sc. Somehow one row is off (only map the left side and connected the left side).

json I used: https://www.dropbox.com/s/8pfqryw3fofhd73/helix_sc_left.json?dl=0
hex that is compiled: https://www.dropbox.com/s/kl9034s8wyoxl5s/helix_rev2_sc_helix_sc_left.hex?dl=0

[2020-03-17 20:44] b1uegh0st commented on #684
(deleted comment) My bad, mapped the wrong file.

[2020-03-25 17:30] skullydazed opened #692 "Feature request: UI changes to reflect recent changes to the API"
The API recently changed so that the JSON is used directly to compile. This change has been refined and those refinements are currently available at a separate URL:

https://api.clueboard.co/v1 (API)

https://config.clueboard.co/ (Configurator)

Changes needed on the configurator side:

* Merge the Download Keymap and Export Keymap functions
* Find a way to point users to the newbs guide if they n

[2020-03-25 17:31] skullydazed commented on #692
Here's an example JSON that includes the new keys (with the layers omitted for readability sake):

[code]

[2020-03-25 20:30] yanfali commented on #692
Can you put an endpoint on the API with the documentation and version? that way the UI can just pull it at startup and always have the latest version. This also put's it's content under the API's control.

[2020-03-25 20:36] yanfali commented on #692
Would removing the download keymap work?

Sorry, what did you have in mind? You want a visual change?

I don't understand this comment. Can you give examples?

That seems straightforward.

[2020-03-25 21:35] skullydazed commented on #692
Sure. What if it returned a skeleton the UI could populate?

It's a separate API stack setup on the existing QMK infrastructure. I haven't had a chance to talk to @jackhumbert about setting up a new hostname, and we might want to talk as a group about what hostname to use.

Yeah, I think that's fine.

I could think of several ways to accomplish what I wanted, so I didn't want to specify a specific

[2020-03-25 21:50] yanfali commented on #692
OK, I think I understand. perhaps we can send them to a docs page? <Learn More Here>

Ah I see what you're saying. There may be some corner cases involving ANY.

This may be tricky because of the ANY key, and because we handle keyboard renames automatically on import. Looking at how we handle ANY, we basically wrap those keycodes and treat them as text, ignoring them from a keycode point of view a

[2020-03-25 22:16] skullydazed commented on #692
That seems reasonable.

Per our conversation on discord https://github.com/qmk/qmk_firmware/issues/8556 should bring the `ANY()` handling on the CLI in line with Configurator.

[2020-03-26 02:24] noroadsleft commented on #692
UI stuff: Here, have a branch:

https://github.com/qmk/qmk_configurator/tree/issue-692

[2020-03-30 06:44] athre0z opened #695 ""Keymap only" button downloads JSON file"
On the current live version of the QMK configurator, loading a previously created JSON config, clicking compile and then finally the "Keymap only" button results in the JSON config being downloaded rather than generating a `keymap.c` as promised.

Additionally, the source downloaded by the "Full source" button doesn't contain the keymap.c either. The paths like `keyboards/rgbkb/zen/rev1/keymaps/at

[2020-03-30 06:46] athre0z commented on #695
Just realized this is a duplicate of #677.

[2020-03-30 06:46] #695 closed

[2020-04-05 02:20] yanfali commented on #692
Yes this would work.

[2020-04-05 02:24] yanfali commented on #692
![Screen Shot 2020-04-04 at 19 23 52](https://user-images.githubusercontent.com/2275667/78465388-d9920f00-76a9-11ea-8deb-58c0edc84327.png)
@noroadsleft the CSS is a bit off on the new button

[2020-04-05 03:11] yanfali commented on #692
never mind. I think it was just a css issue.

[2020-04-05 05:59] noroadsleft commented on #692
There should be an icon on the Help button:

![image](https://user-images.githubusercontent.com/18669334/78468001-d9087100-76c7-11ea-8d06-47402dfe78e9.png)

[2020-04-05 06:50] yanfali commented on #692
Fixed it. Let me check if I didn't committed

On Sat, Apr 4, 2020, 22:59 James Young <notifications@github.com> wrote:

[2020-04-05 18:27] yanfali commented on #692
@noroadsleft it's in there. it was missing briefly from main.js after merge

[2020-04-09 17:19] sanjibukai opened #702 "The download button for the keymap.c downloads the json"
Hi everybody,
Shouldn't the button in the far left **KEYMAP ONLY** download the `keymap.c` file?
Currently in download the JSON file.

[2020-04-10 08:44] noroadsleft commented on #702
Duplicate of #677 and #695.

This issue is part of the work happening under #692. Please see that issue for updates.

Closing.

[2020-04-10 08:44] #702 closed

[2020-04-10 08:56] noroadsleft commented on #702
@sanjibukai,

Apologies, forgot to actually give you a real reply.

Configurator's keymaps have long been natively JSON. Previously, Configurator's API would convert the JSON data into a `keymap.c` file, then compile that to provide the user's firmware.

Recently that API underwent a change where it now compiles directly from the JSON data, instead of converting the file.

If you need the `keymap.

[2020-04-10 09:05] sanjibukai commented on #702
Hello,
I apology too since I didn't check for existence of similar issue..
I know that it's possible to compile from JSON, but I need the keymap.c file because I need to add customization like layer LED lighting (I have a basic ergoidox) as well as some custom sequence generation (using SEND_STRING).
Anyway thank for this great environment, I used QMK some years ago, and many things change meanwhi

[2020-04-10 14:37] skullydazed commented on #702
You can convert the JSON to a C yourself using `qmk json2c <file.json>`.

[2020-04-13 01:38] yanfali commented on #692
@noroadsleft ok this may be ready to go. The API endpoint from the templates is hardcoded until it goes live when we'll switch to the same root.

[2020-04-14 18:56] yanfali commented on #692
@skullydazed it's deployed. One caveat, when you deploy the new template endpoint to prod let us know and we'll switch the URL over to the correct end point. Right now it's using the experimental one.

[2020-04-19 21:45] danmchan opened #711 "Getting error on compile in QMK Configurator: tmk_core/chibios.mk:123: lib/chibios/os/hal/lib/streams/streams.mk: No such file or directory"
I've been using QMK Configurator for a while now, but just recently, it stopped working on my ProjectKeyboard/Alice layouts.

The following is the JSON file used:
[malice (7).txt](https://github.com/qmk/qmk_configurator/files/4500361/malice.7.txt)

Full output below:
* Sending projectkb/alice:malice.json with LAYOUT_default
* Received job_id: fb5a3eb2-f9bd-4f82-a9fc-98bed93a21df
* Running . . . .

[2020-04-20 10:48] noroadsleft commented on #711
Hello @danmchan,

QMK just in the last week gained support for the rev2 of Project Keyboard's Alice PCB, and the addition of the new revision necessitated relocating the files for compiling rev1 firmware.

You can fix this in the short term by opening your keymap JSON file in a text editor, and finding the part that says `"keyboard":"projectkb/alice"` and changing it to read `"keyboard":"projectkb

[2020-04-20 17:46] danmchan commented on #711
Thanks James. Makes sense. I’ll try that out.

On Mon, Apr 20, 2020 at 3:48 AM James Young <notifications@github.com>
wrote:

[2020-04-20 23:50] agaisin opened #714 "Build error when compiling any of the Helix/Rev2 keyboards"
Errors here: **Linking: .build/helix_rev2_layout_mine.json.elf                                                     
 |
 | .build/obj_helix_rev2_layout_mine.json/keyboards/helix/rev2/rev2.o: In function `matrix_init_kb':
 | /qmk_compiler/qmk_firmware/keyboards/helix/rev2/rev2.c:25: undefined reference to `is_helix_master'
 | collect2: error: ld returned 1 exit status
 |
makeine.json.elf] Error 1
m

[2020-04-21 00:33] skullydazed commented on #714
The helix board requires special flags passed to the make command which the API can't support. I'm afraid someone will have to some work to make it work on configurator.

[2020-04-21 10:45] mtei commented on #714
I have published #8422. This is a change on the QMK CORE side to resolve this issue. (I think so.)

And I think the change on the Helix keyboard side would be solved by adding two small files after merging #8669.

[2020-04-24 20:30] mandeep opened #719 "Import json file should split at the extension"
When importing a json file from disk, the keymap name is populated with the filename including the extension. E.g. `keymap.json` is populated into the keymap name field as `keymap.json`. This means when you export this keymap after making changes, the filename is output as `keymapjson.json`. Instead this should be `keymap.json` again.

A fix for this would to split at the extension when importing

[2020-04-24 20:40] yanfali commented on #719
reproduced. Thanks!

[2020-04-25 20:45] #719 closed

[2020-04-25 20:46] noroadsleft commented on #719
Good spot, @mandeep; thanks for reporting!

[2020-05-02 05:03] danmchan commented on #711
That worked by the way. Thanks for your help!

[2020-05-02 12:32] kmanwar89 commented on #150
Several months later, any updates? This function would be great.

If not, can anyone guide me on where in the keymap.c I would create the macro? Is there a specific syntax it expects?

[2020-05-03 21:46] yanfali commented on #692
I think this is resolved now.

[2020-05-03 21:46] #692 closed

[2020-05-06 00:17] CommandLineDesign opened #729 "Compilation fails for /hhkb/LAYOUT_JP"
It seems there are a lot of issues for HHKB-JP Layout. For one, the default keymap is blank. For two, it seems it's not possible to compile even a very simple layout for it.

Here's an example from a very simple test with no functions or layers:

[code]

[2020-05-06 00:18] CommandLineDesign commented on #729
I was looking at recent changes to the HHKB keyboard section and noticed this: https://github.com/qmk/qmk_firmware/pull/8618/files

Is it necessary to add the `LAYOUT_JP` to the rules.mk in the same manner `LAYOUT_60_hhkb` was added?

[2020-05-06 01:47] CommandLineDesign commented on #729
After manually running qmk json2c with the exported json file, I am able to compile and flash the keyboard successfully, however the layout does not match the UI's config, there seems to be an incorrect layout definition for HHKB_JP

[2020-05-06 02:44] CommandLineDesign commented on #729
Was able to verify that the layout_jp entry in https://github.com/qmk/qmk_firmware/blob/master/keyboards/hhkb/info.json is incorrect. "Return" should be at `"y": 2` instead of` "y": 1` on line 103 `{ "label": "Enter", "x": 13.75, "y": 2, "w": 1.25, "h": 2 },`

Not sure if this change will negatively affect the UI of the QMK_Configurator tool though.

And also, still not clear why compilation was f

[2020-05-06 03:03] CommandLineDesign commented on #729
I believe the issue is that the `LAYOUT_JP` entry in `/keyboards/hhkb/info.json` is incorrect.

The Enter key: is in `"y": 1` and it should be in `"y": 2`

https://github.com/qmk/qmk_firmware/blob/master/keyboards/hhkb/info.json#L103

[2020-05-06 19:18] #711 closed

[2020-05-06 21:58] noroadsleft commented on #729
The reason for this is the existing HHKB codebase requires a define to be set in order to compile firmware for the board, but Configurator's API doesn't have any support for changing build options or setting extra defines, so only the ANSI version can be compiled.

There's actually already a PR open that will allow the HHKB JP to be compiled, but it won't land on QMK until the end of the month.

[2020-05-06 22:34] CommandLineDesign commented on #729
@noroadsleft Great, thanks for your reply! 🙏

[2020-05-11 01:59] jackassplus opened #730 "NoSuchKeyboardError"
# Clueboard 2x1800

Clueboard Double 1800 All The Way

* Keyboard Maintainer: [Zach White](https://github.com/skullydazed)
* Hardware Supported: Clueboard 2x1800 PCB
* Hardware Availability: 2018 Apr 1 Group Buy

Make example for this keyboard:

    make 2x1800:default

See [build environment setup](https://docs.qmk.fm/#/getting_started_build_tools) then the [make instructions](https://docs.qmk.fm

[2020-05-11 07:51] noroadsleft commented on #730
The 2x1800 got an update last week where it has two revisions, and you have to know which revision you have in order to compile.

If you have the Mechanical Drawing Toy Edition, use [clueboard/2x1800/2019](https://config.qmk.fm/#/clueboard/2x1800/2019/LAYOUT).

If you have the Double 1800 All The Way, use [clueboard/2x1800/2018](https://config.qmk.fm/#/clueboard/2x1800/2018/LAYOUT).

[2020-05-11 15:07] jackassplus commented on #730
got past that, running into different errors in the qet interface that I can't read, so I'll compile in Linux and see if I can figure it out.

[2020-05-11 15:07] #730 closed

[2020-05-18 23:25] yanfali commented on #641
I think this would be a great idea for a mobile specific app. Since it doesn't need the full engine. It could just use the API data.

[2020-05-19 03:08] McCroden opened #734 "KBDFans Tofu96 missing"
The [KBDFans Tofu96](https://kbdfans.com/collections/group-buy/products/tofu96-mechanical-keyboard-diy-kit) has shipped and is not available yet in qmk configurator.

I asked KBDFans for a link to the firmware and was provided:
This url: http://www.qmkeyboard.cn/
Choose "DZ96" for the appropriate qmk firmware.

I'm new to QMK--apologies if this is not the correct avenue to get the board added to Q

[2020-05-19 06:58] yanfali commented on #734
Yeah, sorry that's the wrong way. You file an issue on qmk_firmware, then it shows up in configurator. You can do most of the work yourself using the JSON file from the chinese web site using https://noroadsleft.github.io/kbf_qmk_converter/

[2020-05-19 06:58] #734 closed

[2020-05-20 09:16] noroadsleft commented on #734
@McCroden Based on the data in the DZ96 JSON file from qmkeyboard.cn, the [Espectro](http://localhost:8081/#/espectro/LAYOUT_default) may be the same PCB.

[2020-05-20 10:45] KAndrsn commented on #641
I was thinking the html/css could be adjusted so these parts are visible.  Then zoom and scrolling would be enough.

[2020-05-20 14:09] McCroden commented on #734
@noroadsleft thank you! I'll look into it.

[2020-05-20 15:43] yanfali commented on #641
That's a pretty heavy weight solution to something that only needs the
layouts. I think if we were going to support mobile, it would probably be
best to actually do it properly. That's not the intent of this web
application.

On Wed, May 20, 2020 at 3:45 AM Kurt Anderson <notifications@github.com>
wrote:

--
"We do not learn so much by our successes as we learn by failures -- our
own and others'.

[2020-05-20 16:16] McCroden commented on #734
In case others find this post, @noroadsleft recommendation does work. If there are 2 keys in the configurator where you have 1 key, then map both keys to what you want that 1 key to be.

[2020-05-25 04:45] eraucher commented on #236
Using mousekeys for boards with "MOUSEKEY_ENABLE = no" in the board's default rules.mk file is also not possible with QMK Configurator, which really hinders its otherwise awesome functionality with certain boards. I'm curious if there are any hacky ways of getting around this.

[2020-05-31 14:53] benjaminmikiten opened #741 "Default Plaid layout fails on compile"
Steps to reproduce:
1. Navigate to https://config.qmk.fm/#/dm9records/plaid/LAYOUT_plaid_grid
2. Using the default layout, press compile.

Result:
Compilation fails. Error given:
`[Kusbdrv/usbdrv.h: No such file or directory ...`

I assume it's looking for `/tmk_core/protocol/vusb/vusb.h` and that `kusbdrv` is a typo, but I can't  find said typo anywhere.

I was able to reproduce this with a local

[2020-06-04 16:32] noroadsleft commented on #741
Sorry it took me so long to get back to you on this.

Right now boards that use V-USB aren't compiling in Configurator, and we haven't solved it yet.

As a work around, you can fork the qmk/qmk_firmware repository, set up the [QMK CLI](https://docs.qmk.fm/#/cli), and compile the keymap with that.

1. Export the keymap JSON from Configurator. Save it to the root qmk_firmware directory from your for

[2020-06-05 18:46] benjaminmikiten commented on #741
Good to know, thank you so much! I'll close this since this workaround works and I assume that the larger vusb issue is being addressed somewhere else.

[2020-06-05 18:46] #741 closed

[2020-06-07 14:48] philipmgrant opened #744 "Compilation error on default layout for: ymdk_np21/LAYOUT_ortho_6x4"
Compiling the default layout for ymdk_np21/LAYOUT_ortho_6x4 fails with:

[code]

This seems to be fairly new: my own layout for this board compiled fine on QMK Configurator on 30th May but fails now.

[2020-06-11 11:22] noroadsleft commented on #744
There is currently a known issue with Configurator not being able to compile firmware for boards that use V-USB – namely, anything powered by an atmega32a, atmega328, atmega328p, or attiny85. The ymdk_np21 is powered by an atmega32a.

We are working on a fix, but it hasn't been deployed yet.

[2020-06-11 20:47] noroadsleft commented on #744
This is now fixed.

[2020-06-11 21:37] philipmgrant commented on #744
Works perfectly now - thanks very much!

[2020-06-11 21:37] #744 closed

[2020-06-14 18:26] sigprof opened #746 "Feature: Set the whole layer to KC_TRNS"
The configurator currently has a “Clear layer” button, which sets the whole layer to `KC_NO`. However, in many cases setting the whole layer to `KC_TRNS` would be even more useful, and there seems to be no way to do it currently without repeated clicking.

[2020-06-14 22:19] BoKKeR opened #747 "Allow docker container with own layout."
It would be nice if we could start the dockerized configurator with a preset layout that it will use as default. So we could at least self host our own configurators that would keep track of our own layouts.

[2020-06-15 23:45] yanfali commented on #746
This is by design. @jackhumbert reasoned that KC_TRNS was too confusing as a default for newbs. KC_TRNS is really needs explanation. Principle of least astonishment.

[2020-06-15 23:45] yanfali commented on #746
I think a compromise would be to have a toggle in settings which can flip the behavior

[2020-06-15 23:47] yanfali commented on #747
one way to add this would be to add a UI feature that allowed a user to favorite a layout.

[2020-06-15 23:48] yanfali commented on #685
it's not entirely clear what you want here. Can you post some examples? Are you talking about programming the left and right hands of the keyboard separately?

[2020-06-16 07:42] SlickRickolus opened #749 "ymd/rev 2"
There seems to be a problem when compiling a ymd75/rev2 hex file. wish i could say more but i have no idea what is going on.
![Annotation 2020-06-16 004056](https://user-images.githubusercontent.com/66993458/84745882-0f852680-af6a-11ea-94a4-f21204258a8d.png)

[2020-06-16 18:19] noroadsleft commented on #749
This is caused by a bug with the Configurator's API. It detects the microcontroller incorrectly.

I have a workaround planned for later today but I haven't filed it yet.

[2020-06-16 20:09] #746 closed

[2020-06-17 06:58] ejahglass opened #750 "suddenly I can't compile anymore!"
I was making changes to my keymap, everything has been working fine with all the changes i have made over the last couple days, then I went to compile my last edits and I got

"
$ qmk compile
INFO Compiling keymap with make massdrop/alt:ejahglass

QMK Firmware 0.9.10
Making massdrop/alt with keymap ejahglass

/bin/sh: arm-none-eabi-gcc: command not found
sh: arm-none-eabi-gcc: command not found
sh

[2020-06-17 07:36] #750 closed

[2020-06-17 21:38] noroadsleft commented on #729
This is fixed btw. Sorry for the late notice.

https://config.qmk.fm/#/hhkb/jp/LAYOUT_JP

[2020-06-17 21:38] #729 closed

[2020-06-17 21:46] noroadsleft commented on #750
Did you get this figured out? (I know it's not a qmk_configurator issue, but I wanted to make sure.)

[2020-06-18 04:29] jdbaggins opened #751 "Change Mouse_enabled to yes in Rules.mk for Keeb.io Quefrency boards"
I'm not much of a developer and have a windows machine I'd prefer to keep clean, so I am largely unable to update the Rules.mk for the Quefrency board I just built, or I'm just unaware of how to make the appropriate changes in Configurator.

I largely rely on my mouse setting for my other boards for navigating, so the option is sorely missed on my Quefrency.

Could you change the basic Quefrency r

[2020-06-18 07:44] noroadsleft commented on #749
Solved by https://github.com/qmk/qmk_firmware/pull/9452.

[2020-06-18 07:44] #749 closed

[2020-06-18 14:54] otaviocc opened #752 "Not Loading Custom QMK Keymap JSON"
When I try to load a valid custom JSON, it gives me the follow screen, no matter if loading from the disk, or from the cloud.

<img width="1380" alt="Screen Shot 2020-06-18 at 2 50 47 PM" src="https://user-images.githubusercontent.com/139272/85035837-e63fe280-b183-11ea-9e57-f93f3f81835d.png">

I've tried Firefox, Firefox Private Mode, Google Chrome and Chrome Private Mode. Same result in all of th

[2020-06-18 15:44] yanfali commented on #752
@noroadsleft my guess is the default still references a layout that no longer exists LAYOUT_preonic_grid. That's why it fails after loading the default.

[2020-06-19 16:14] noroadsleft commented on #752
Yeah, apparently something in the API has changed and it no longer picks up the aliases for the Preonic.

Gimme a minute...

[2020-06-19 16:29] noroadsleft commented on #752
Fixed by 0b035229185fca4d04ad1403c713348d5ce4d427.

[2020-06-19 16:35] noroadsleft commented on #751
I'm not sure why @nooges left Mouse keys disabled for the Quefrency, but I suspect it may be due to the firmware size available on the microcontroller.

I have to leave in a bit, but if he doesn't reply by the time I get back home I'll ask him about it.

[2020-06-19 22:06] nooges commented on #751
For rev1, there's enough space for mousekeys, but adding it in for rev2 would makes things a bit tight.

Okay for someone to add it to rev1/rules.mk.

[2020-06-20 01:56] noroadsleft commented on #751
Thanks, Danny. I'll open a PR for this.

@jdbaggins If you need firmware for a Quefrency rev2 with Mousekeys enabled, contact me on Discord at `xxiinophobia#5825` and I can see about getting you sorted.

[2020-06-20 06:25] noroadsleft commented on #751
@jdbaggins K, Mousekeys is enabled for Quefrency rev1 now.

[2020-06-20 15:06] jdbaggins commented on #751
Awesome, thanks everyone, I'll give it a shot.

[2020-06-20 19:30] GauthierPLM opened #755 "Support autoshift"
It would be awesome if autoshift could be enabled from the UI, similarly to Oryx, the ZSA configuration tool for their EZ keyboards.

Having the possibility to select the autoshift control keys would be a good addition too, as now I need to manually customise the firmware to have these.

[2020-06-22 05:02] b1uegh0st commented on #685
Yes I am talking about programming them (as well as mapping them) separately.

Currently if I only have the right-hand one, and plug that in, using QMK Configurator keymap wouldn't work (the key got flipped around).

[2020-06-23 02:30] jdbaggins commented on #751
Sorry for the delay, everything looks great! mousekeys work great. Thanks everyone.

[2020-06-23 02:30] #751 closed

[2020-06-27 15:44] Crankatator opened #763 "Error in configurator"
I'm getting this error:
![image](https://user-images.githubusercontent.com/67513446/85926156-61cc1e80-b86b-11ea-93d4-cf6eb121612e.png)
 for this keymap:
![image](https://user-images.githubusercontent.com/67513446/85926171-7f998380-b86b-11ea-97c9-fb1ad8bfc651.png)
The suggested "}" doesn't make sense.  What's going on?

[2020-06-27 16:18] yanfali commented on #763
Hey are you using cli? File the bug under firmware. But honestly I think you have a typo in your code. It's kc_lctl not kc_lctrl

[2020-06-27 16:18] #763 closed

[2020-06-28 01:25] noroadsleft commented on #763
Line 8 of your `keymap.c`, you're missing a comma after `KC_DEL`.

For the record, either should work.

https://github.com/qmk/qmk_firmware/blob/751a1789b59546728c0987d9259b4189cd9f6fe2/tmk_core/common/keycode.h#L153

[2020-06-28 01:30] Crankatator commented on #763
Thanks for your help!
On Jun 27, 2020, 9:25 PM -0400, James Young <notifications@github.com>, wrote:

[2020-06-28 09:54] coaxial opened #764 "Layout for Helix keyboard won't compile"
On the configurator, I select the `helix/rev2/oled` keyboard and use this JSON layout. When I press `Compile`, I get the following error.

JSON layout:

[code]

[code]

I would expect it to compile without errors, but it doesn't.

[2020-06-29 02:51] noroadsleft commented on #764
The Helix needs a refactor on the qmk_firmware side in order to fix this. There are a couple of open pull requests attempting to deal with this.

- https://github.com/qmk/qmk_firmware/pull/8422 (deals with the build error)
- https://github.com/qmk/qmk_firmware/pull/8669 (attempting to reduce the number of Helix variants)

[2020-06-29 06:40] IonicOwl opened #768 "Unable to add ISO-specific keys in configurator"
I'm trying to flesh out an ISO keyboard layout on the configurator, but despite using the keys in the ISO/JIS tab, when I drag them up to the keymap, they show the ANSI key instead.

In the example below, dragging the KC_2 key up to its position on the top row shows the "2/@" key, instead of the "2/"" key that I'd expect.

![image](https://user-images.githubusercontent.com/36578130/85980714-d4a7d7

[2020-06-29 08:42] coaxial opened #769 "Why not render unassigned keys blank on PDF printout?"
Unassigned keys are marked N/A on the PDF document for printing. Wouldn't it be more legible if the unassigned keys were left blank?

It would not only save on toner/ink but also make it much easier to scan secondary layers where only a small number of keys are assigned.

[2020-06-29 16:43] yanfali commented on #769
That seems reasonable. It could be done with some CSS using the print style sheet, just make the N/A keys class hidden when printing.

[2020-06-29 16:46] yanfali commented on #768
@IonicOwl this is a good catch, it's more of a visual oversight than an actual bug. Your operating system is responsible for mapping the ANSI based HID codes onto the locale. I think to fix this it mostly requires fixing up the keycodes for the ISO keymap programmatically to display the correct codes. No actual keycodes need to change.

[2020-06-29 16:48] yanfali commented on #768
Can you send a list of the keys that need updating?

[2020-06-30 02:53] noroadsleft commented on #768
Actually, I noticed that the AltGr key was missing from the ISO tab a while back, and I think I may have a branch that adds it.

Gimme some time and I'll dive in to that. The rest of this is as yanfali said – a visual oversight, rather than a bug.

[2020-06-30 16:17] IonicOwl commented on #768
Those are the only ones that need adding for my layout.  I'm only building a 60% and I'm pretty sure everything on the navigation and number clusters are identical between ISO and ANSI layouts anyway.

[2020-07-01 01:30] noroadsleft commented on #768
#770 will add the Alt Gr key to the ISO tab.

[2020-07-03 21:22] CreamyCookie opened #772 "Suddenly couldn't export anymore (Firefox 78)"
Not sure what caused this, but I lost all progress, since out of nowhere the export button stopped working.

I could be wrong but the export function seems to involve a server.. Couldn't it work purely client side since all the information is already available?

When I open FF developer tools console, there are lots of error messages:

https://gist.github.com/CreamyCookie/3ffd92a6ecd1c1616198dcc95

[2020-07-04 12:46] jceb commented on #262
This feature would be great to have. I'm working on a custom keyboard right now with a custom, not yet uploaded info.json. Since the recent addition of keymap.json support in the firmware, I'd love to use the configurator to create the keymap.json. The only addition required would be to support loading a keymap.json after loading a custom info.json.

[2020-07-05 04:58] noroadsleft commented on #772
I never spotted this, and I use Firefox as my main browser.

Just attempted and it's working for me (Firefox 78.0.1).

@yanfali Any ideas?

[2020-07-05 17:25] yanfali commented on #772
Try incognito mode. It's probably a plugin

On Sat, Jul 4, 2020, 21:58 James Young <notifications@github.com> wrote:

[2020-07-19 15:29] yanfali commented on #772
@CreamyCookie any progress on this?

[2020-07-19 17:43] CreamyCookie commented on #772
@yanfali Oh, sorry. I wasn't aware you were referring me. Are you asking about the browser plugins? I'm using uBlock Origin and uMatrix but neither block anything in the qmk configurator page.

I don't remember, but it's possible I opened the configurator in a private window.

[2020-07-20 18:13] yanfali commented on #772
@CreamyCookie since we can't reproduce this, I'm at a loss. Do you have any other computers? this could be an issue with that one machine. Please try a incognito session to remove all influence of plugins, if you don't respond I'll probably close this.

[2020-07-20 18:49] CreamyCookie commented on #772
Yeah, this seems to be one of those hard to find bugs. I myself can and could export dozens of times until it suddenly stopped working, and I have no idea what caused it.

If the log is of no help, then I guess we can close this for now.

[2020-07-20 18:49] #772 closed

[2020-08-05 01:32] EvilJimJafar opened #784 "Full source download does not include the source files for the configured layout"
The JSON file is in the root of the zip, but the keymap.c is not in the keyboard directory (no new directory is created).

[2020-08-05 01:53] yanfali commented on #784
Yeah, this is a change in the API. It no longer returns a C file. Use the `qmk` command `json2c`

[2020-08-05 01:53] #784 closed

[2020-08-05 01:58] EvilJimJafar commented on #784
OK, thanks

[2020-08-05 19:07] sepehr500 opened #785 "Add option to duplicate layer"
There are times when I want to make a new layer but with slight tweaks. It would be nice if there was an option to duplicate a layer. Does this feature currently exist?

[2020-08-05 22:37] yanfali commented on #785
Not at this time. Easiest thing in the short term is to edit the JSON file and copy the layer and reimport. I am planning on looking at making the layer editing more featured, just have no time line. Maybe this weekend as I have some free time coming up. Mostly moving layers around, copying would be fairly easy to add to this list.

[2020-08-06 00:36] sepehr500 commented on #785
I can try adding it if you want. Can I just do a reasonable design?

On Wed, Aug 5, 2020 at 6:37 PM Yan-Fa Li <notifications@github.com> wrote:

--
Thanks - Sepehr Sobhani

[2020-08-06 00:44] yanfali commented on #785
Sure, always happy to get input. Design is probably the hardest part.

[2020-08-06 00:45] yanfali commented on #785
@sepehr500 be aware though that duplicating a layer, leads on automatically to the need to be able to re-order layers 😄

[2020-08-06 00:47] sepehr500 commented on #785
Lol. We can iterate. 😉

On Wed, Aug 5, 2020 at 8:45 PM Yan-Fa Li <notifications@github.com> wrote:

--
Thanks - Sepehr Sobhani

[2020-08-06 13:36] sepehr500 commented on #785
Created PR #786

[2020-08-07 03:49] #769 closed

[2020-08-08 16:07] iandoug opened #788 "Where are layouts stored?"
HI

I need to add a new physical layout, but can't find where they are stored. I've done text searches etc on local copy and here.

Can you please advise? :-)

Thanks, Ian

[2020-08-08 18:27] noroadsleft commented on #788
@iandoug,

QMK Configurator takes its data through an API that runs based upon the current state of https://github.com/qmk/qmk_firmware/tree/master/. If you need to add a physical layout, it needs to be done on that repo.

Which keyboard and layout do you need to add?

[2020-08-08 19:14] iandoug commented on #788
Okay let me poke around in the firmware repo then, thanks.

Trying to build this (still... :-) )
https://www.keyboard-design.com/letterlayout.html?layout=x6-5h.en.ergolinear

I haven't tried to get the configurator running locally yet ... will that also pull from the net, or look for a local source?

Thanks, Ian

[2020-08-09 03:31] noroadsleft commented on #788
Ah, a new device.

You'll have to have your codebase merged into qmk/qmk_firmware generally to support a new keyboard. You can also feed it custom API data if you deploy the Configurator in Docker, but I have no experience with that.

[2020-08-09 06:17] iandoug commented on #788
When I last dipped my toes into QMK a few years back, I vaguely remember some "battleship" layouts that catered for x rows by y columns, where x and y are larger than normal ANSI. Are those still in the configurator?

BTW my mind works the other way around to the configurator... first pick physical layout, and then logical. At the moment once you pick logical, the physical options are restricted,

[2020-08-09 06:55] yanfali commented on #788
I think this conversation has been resolved. Closing issue.

[2020-08-09 06:55] #788 closed

[2020-08-14 15:16] dainkaplan opened #792 "Download "keymap only" button and feature removed?"
There used to be a button to download the keymap config so you can compile locally and edit the `keymap.c` and `config.h` files (it's still in the i18n csvs as a label), but it looks to be removed in
 commit f67c15f92ac52553c67cb9ac5353f31a267d99c0 (via issue #692):

![image](https://user-images.githubusercontent.com/594193/90263883-3ccb5380-de8b-11ea-82cf-a7f96f4505c8.png)

Downloading the entire

[2020-08-14 19:02] yanfali commented on #792
https://github.com/qmk/qmk_configurator/issues/784

[2020-08-14 19:02] #792 closed

[2020-08-14 19:03] yanfali commented on #792
@skullydazed did you remove the json file from the full source download?

[2020-08-16 19:17] mrsendyyk opened #793 "Potential Security Notification"
Hello, i found this on my notifications:
![Screenshot_2020-08-17 Build software better, together](https://user-images.githubusercontent.com/69058604/90342090-9ec4be00-e02f-11ea-8bf6-597ed6226416.png)
It needs to be fixed?

[2020-08-16 19:25] #793 closed

[2020-08-16 21:17] noroadsleft commented on #792
JSON file is in the root `qmk_firmware` directory inside the Full Source download.

[2020-08-16 22:23] yanfali commented on #793
These are automated, and apply only to your fork. Configurator is already patched and up to date. Thanks

[2020-08-19 09:46] mrsendyyk commented on #793
Ok, thank you @yanfali

[2020-08-20 22:23] mrsendyyk opened #794 "DZ60 LAYOUT_60_ansi_arrow & ai03 Soyuz LAYOUT_numpad_5x4"
Based on PR [#9993](https://github.com/qmk/qmk_firmware/pull/9993) and PR [#10030](https://github.com/qmk/qmk_firmware/pull/10030) on [qmk/qmk_firmware](https://github.com/qmk/qmk_firmware), i try to check [`LAYOUT_60_ansi_arrow` for DZ60](https://config.qmk.fm/#/dz60/LAYOUT_60_ansi_arrow):
![DZ60](https://user-images.githubusercontent.com/69058604/90831250-86c1a700-e36d-11ea-8b4f-a048e6112afb.png

[2020-08-21 00:33] fauxpark commented on #794
You need to add those layouts into the info.json.

[2020-08-23 16:31] slashfoo opened #796 "layout reset prompt when returning from "print keymap" or "test keyboard""
When using a custom layout configured in the browser (not selected from a dropdown), from the "Test keyboard" window, or "Print keymap: window; when you press "< Back", the screen goes to the main interface, but attempts to clear the layout that's currently being worked on with a prompt that reads "This will clear your keymap - are you sure you want to load default keymap?"

[2020-08-23 16:39] slashfoo opened #797 "Text on "Print Keymap" screen is illegible when using "Dark Mode""
When using dark mode and going to the "Print Keymap" screen, the background as well as foreground of the key labels are too close to each other (too little contrast), and are illegible.

[2020-08-23 16:48] slashfoo commented on #796
Additionally, when pressing cancel to avoid resetting the layout, the keymap name is still lost.

[2020-08-24 02:09] noroadsleft commented on #797
Aaaand you just reminded me I have a branch that fixes this that I never posted :facepalm:

[2020-08-24 02:12] noroadsleft commented on #796
@yanfali Would you mind looking at this?

[2020-08-24 18:12] #797 closed

[2020-08-26 07:03] alexytlee opened #801 "Uploading default keymap.json to hhkb/ansi isn't recognized"
I get a 'Sorry, this doesn't appear to be a QMK keymap file.' even though it was downloaded from the page.

[2020-08-26 07:29] noroadsleft commented on #801
Was this a keymap you modified in Configurator then exported?

You can upload the file to this issue by giving it a `.txt` file extension.

[2020-08-30 01:37] dburnnzz opened #802 "unable to flash"
i am unable to flash the PCB, it keeps telling me no devices found. i have a dzrgb v2. i have tried reinstalling the drivers and the only one that works is the atmel 32u4

[2020-08-30 05:12] alexytlee commented on #801
Seems issue was fixed!

[2020-08-30 05:12] #801 closed

[2020-08-30 10:13] noroadsleft commented on #802
@dburnnzz This isn't a QMK Configurator issue, but put your board in Bootloader Mode and Install Drivers (right-click the blank area to the left of the flash button). There should be a gold button on the bottom of your PCB to put the board in bootloader, next to the spacebar switch.

![image](https://user-images.githubusercontent.com/18669334/91656533-43062600-ea6e-11ea-8bfb-b9bae57e68e6.png)

[2020-08-30 21:02] yanfali commented on #802
I think this has been resolved.

[2020-08-30 21:02] #802 closed

[2020-09-01 21:58] cschultzburkson opened #804 "Suddenly no input on right half for Redox (redox/rev1)"
Files compiled on July 23, 2020 work fine on my Redox, but anything compiled after August 27 only works for my left half of the keyboard, while the right half has no input at all. This includes the default layout.

MCU: atmega32u4

Logs from flash:
[code]

[2020-09-02 00:21] jessekirbs opened #805 "Rotary Encoder Not Functioning as Arrows"
I'm attempting to get my two rotary encoders to function as UP/DOWN and LEFT/RIGHT arrow keys. I've tried using KC_UP, KC_DOWN, KC_LEFT, and KC_RIGHT in my keymap, but they don't seem to do anything. Any help would be greatly appreciated. Thank you!

[2020-09-02 00:22] #805 closed